<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	th:replace="~{fragments/layout :: layout (~{::body},'patients','Danh sách bác sĩ')}">

<body>
	<section id="doctors" class="doctors">
		<div class="container">
			<div class="section-title text-center">
				<h2 style="margin: 30px; color: #37a7f1;">ĐẶT LỊCH HẸN VỚI CÁC BÁC SĨ</h2>

				<div class="row m-3">
					<div class="col-md-11 d-flex justify-content-center">
						<div class="form-row">
							<div class="col">
								<input type="text" class="form-control" id="searchName"
									placeholder="Tìm kiếm thông tin bác sĩ">
							</div>
							<div class="col">
								<select id="" class="form-control filter">
									<option value="all">Vị trí của bạn</option>
									<option value="">Quận Ngũ Hành Sơn</option>
									<option value="">Quận Sơn Trà</option>
								</select>
							</div>
							<div class="col">
								<select id="specialty" class="form-control filter">
									<option value="all">Tất cả chuyên khoa</option>
									<option th:each="specialty : ${specialties}" th:value="${specialty.name}"
										th:text="${specialty.name}"></option>
								</select>
							</div>
						</div>

					</div>
				</div>
			</div>

			<ul class="row page" id="accordion" style="list-style-type: none;">

				<li class="col-lg-6 mt-4" th:each="doctor : ${doctors}" id="item-doctor">
					<div class="member d-flex align-items-start">
						<div class="pic"><img th:src="@{${doctor.profileImage}}" class="img-fluid" alt=""></div>
						<div class="member-info">
							<a th:href="@{'/detail/' + ${doctor.id}}">
								<h4> [[${doctor.fullname}]]</h4>
							</a>
							<span>[[${doctor.getClinic().getName()}]]</span>
							<p>[[${doctor.getSpecialty().getName()}]]</p>
							<span>[[${doctor.description}]]</span>
							<!--<small class="text-muted"
                               th:text="|Experience: ${#dates.year(#dates.createNow()) - #dates.year(doctor.startPracticeDate) + 1} years|"></small>-->
							<div class="social">
								<button type="button" class="btn btn-info"
									th:onclick="javascript: showDeclarationModal([[${declaration.id}]], [[${doctor.id}]])"><i
										class="fas fa-book-medical"></i> Đặt ngay</button>
							</div>
						</div>
					</div>
				</li>

			</ul>
			<div class="row d-flex justify-content-center" id="page-pagination"></div>
			<div th:replace="fragments/modal.html"></div>
			<div class="mt-4" th:if="${not #lists.isEmpty(recentDoctors)}">
				<h2 class="text-center">Bác sĩ đã đặt gần đây</h2>
				<div class="row">
					<div class="col-lg-6 mt-4" th:each="doctor : ${recentDoctors}">
						<div class="member d-flex align-items-start">
							<div class="pic"><img th:src="@{${doctor.profileImage}}" class="img-fluid" alt=""></div>
							<div class="member-info">
								<a th:href="@{'/detail/' + ${doctor.id}}">
									<h4> [[${doctor.fullname}]]</h4>
								</a>
								<span>[[${doctor.getClinic().getName()}]]</span>
								<p>[[${doctor.getSpecialty().getName()}]]</p>
								<span>[[${doctor.description}]]</span>
								<!--<small class="text-muted"
                               th:text="|Experience: ${#dates.year(#dates.createNow()) - #dates.year(doctor.startPracticeDate) + 1} years|"></small>-->
								<div class="social">
									<button type="button" class="btn btn-warning"
										th:onclick="javascript: showDeclarationModal([[${declaration.id}]], [[${doctor.id}]])"><i
											class="fas fa-book-medical"></i> Đặt lại</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</section>

	<script>
		window.addEventListener('load', (event) => {
			const doctorList = document.querySelectorAll('#item-doctor');
			const searchName = document.querySelector("#searchName");
			const searchSpecialty = document.querySelector("#specialty");
			let itemsPerPage = 6;

			const showPage = (list, page) => {
				let startIndex = (page * itemsPerPage) - itemsPerPage;
				let endIndex = page * itemsPerPage - 1;
				for (i = 0; i < list.length; i++) {
					list[i].style.display = 'none';
					if (i >= startIndex && i <= endIndex) {
						list[i].style.display = 'block';
					}
				}
			};

			const addPaginationLinks = (list) => {
				removeElementsByClass('pagination')
				let numberOfButtons = Math.ceil(list.length / itemsPerPage);
				let htmlDiv = document.getElementById('page-pagination');
				let newDiv = document.createElement('DIV');
				let newUl = document.createElement('UL');
				newDiv.classList.add("pagination")
				htmlDiv.appendChild(newDiv)
				newDiv.appendChild(newUl)
				for (i = 0; i < numberOfButtons; i++) {
					let li = document.createElement('LI');
					let link = document.createElement('A');
					link.setAttribute("href", "#");
					li.appendChild(link)
					newUl.appendChild(li)
					link.innerText = `${i + 1}`
					if (i == 0) {
						link.classList.add("active")
					}
				}
				let links = document.querySelectorAll('a')
				for (i = 0; i < links.length; i++) {
					links[i].addEventListener("click", function () {
						for (i = 0; i < links.length; i++) {
							links[i].classList.remove('active') // Remove the active state for all the pagination links when any of them is clicked
						}
						event.target.classList.add('active') // But add it back to the selected pagination link
						showPage(list, event.target.innerText) // Call the function taking the list items and setting the number of the page according to the text on the buttons
					});
				}
			};

			showPage(doctorList, 1);
			addPaginationLinks(doctorList);

			function removeElementsByClass(className) {
				var elements = document.getElementsByClassName(className);
				while (elements.length > 0) {
					elements[0].parentNode.removeChild(elements[0]);
				}
			}

			function removeVietnameseTones(str) {
				str = str.replace(/à|á|ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ/g, "a");
				str = str.replace(/è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ/g, "e");
				str = str.replace(/ì|í|ị|ỉ|ĩ/g, "i");
				str = str.replace(/ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ/g, "o");
				str = str.replace(/ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ/g, "u");
				str = str.replace(/ỳ|ý|ỵ|ỷ|ỹ/g, "y");
				str = str.replace(/đ/g, "d");
				str = str.replace(/À|Á|Ạ|Ả|Ã|Â|Ầ|Ấ|Ậ|Ẩ|Ẫ|Ă|Ằ|Ắ|Ặ|Ẳ|Ẵ/g, "A");
				str = str.replace(/È|É|Ẹ|Ẻ|Ẽ|Ê|Ề|Ế|Ệ|Ể|Ễ/g, "E");
				str = str.replace(/Ì|Í|Ị|Ỉ|Ĩ/g, "I");
				str = str.replace(/Ò|Ó|Ọ|Ỏ|Õ|Ô|Ồ|Ố|Ộ|Ổ|Ỗ|Ơ|Ờ|Ớ|Ợ|Ở|Ỡ/g, "O");
				str = str.replace(/Ù|Ú|Ụ|Ủ|Ũ|Ư|Ừ|Ứ|Ự|Ử|Ữ/g, "U");
				str = str.replace(/Ỳ|Ý|Ỵ|Ỷ|Ỹ/g, "Y");
				str = str.replace(/Đ/g, "D");
				// Some system encode vietnamese combining accent as individual utf-8 characters
				// Một vài bộ encode coi các dấu mũ, dấu chữ như một kí tự riêng biệt nên thêm hai dòng này
				str = str.replace(/\u0300|\u0301|\u0303|\u0309|\u0323/g, ""); // ̀ ́ ̃ ̉ ̣  huyền, sắc, ngã, hỏi, nặng
				str = str.replace(/\u02C6|\u0306|\u031B/g, ""); // ˆ ̆ ̛  Â, Ê, Ă, Ơ, Ư
				// Remove extra spaces
				// Bỏ các khoảng trắng liền nhau
				str = str.replace(/ + /g, " ");
				str = str.trim();
				// Remove punctuations
				// Bỏ dấu câu, kí tự đặc biệt
				str = str.replace(/!|@|%|\^|\*|\(|\)|\+|\=|\<|\>|\?|\/|,|\.|\:|\;|\'|\"|\&|\#|\[|\]|~|\$|_|`|-|{|}|\||\\/g, " ");
				return str;
			}

			const findMatches = () => {
				let search = removeVietnameseTones(searchName.value.toLowerCase());
				let results = []
				removeElementsByClass('no_results')
				for (i = 0; i < doctorList.length; i++) {
					doctorList[i].style.display = 'none';
					console.log("test:" + doctorList[i].innerText.toLowerCase());
					if (removeVietnameseTones(doctorList[i].innerText.toLowerCase()).indexOf(search) !== -1) {
						results.push(doctorList[i])
					}
				}
				showPage(results, 1);
				addPaginationLinks(results);
				if (results.length == 0) {
					removeElementsByClass('no_results')
					let parent = document.getElementsByClassName('page')[0];
					let newP = document.createElement('h4');
					newP.classList.add("no_results")
					parent.appendChild(newP)
					newP.innerText = "Không có bác sĩ nào được tìm thấy."
					newP.style.margin = "25px";
				}
			}
			const findMatchesSpecialty = () => {
				let search = searchSpecialty.value;
				let results = []
				removeElementsByClass('no_results')
				for (i = 0; i < doctorList.length; i++) {
					doctorList[i].style.display = 'none';
					if (search == "all") {
						results.push(doctorList[i])
					}
					if (doctorList[i].innerText.indexOf(search) !== -1) {
						results.push(doctorList[i])
					}
				}
				showPage(results, 1);
				addPaginationLinks(results);
				if (results.length == 0) {
					removeElementsByClass('no_results')
					let parent = document.getElementsByClassName('page')[0];
					let newP = document.createElement('h4');
					newP.classList.add("no_results")
					parent.appendChild(newP)
					newP.innerText = "Không có bác sĩ nào được tìm thấy."
					newP.style.margin = "25px";
				}
			}

			searchName.addEventListener("keyup", function () {
				findMatches();
			});

			searchSpecialty.addEventListener("change", function () {
				findMatchesSpecialty();
			});

		});


		$(document).ready(function () {
			$("#declaration-form").validate({
				rules: {
					medicine: {
						required: true
					},
					symptom: {
						required: true
					},
					notes: {
						required: true
					}
				},
				messages: {
					medicine: {
						required: "Không được để trống"
					},
					symptom: {
						required: "Không được để trống"
					},
					notes: {
						required: "Không được để trống"
					}
				}
			});
		});
	</script>
</body>

</html>