<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	th:replace="~{fragments/layout :: layout (~{::body},'patients','Doctor List')}">

<body>
	<section id="doctors" class="doctors">
		<div class="container">
			<div class="section-title text-center">
				<h2>Danh sách bác sĩ</h2>
				<!--<p>Develop future google map, filter combo box, recommend doctor,...</p>-->
				<div class="form-group col-md-6 row mx-auto m-3">
					<label for="specialty" class="col-md-3 col-form-label "><b>Chuyên khoa</b></label>
					<div class="col-md-9">
							<select id="specialty" class="form-control filter">
								<option value="-1">Tất cả</option>
								<option th:each="specialty : ${specialties}" th:value="${specialty.id}"
									th:text="${specialty.name}"></option>
							</select>
							<span class="errorMsg" id="errorMsgFkId"></span>
							<button type="button" class="btn btn-success" id="btnFind" style="margin-top:30px;">
								<i class="icofont-search-job"></i> Find
							</button>
					</div>
				</div>
			</div>

			<div class="row" id="accordion">

				<div class="col-lg-6 mt-4" th:each="doctor : ${doctors}">
					<div class="member d-flex align-items-start">
						<div class="pic"><img th:src="@{${doctor.profileImage}}" class="img-fluid" alt=""></div>
						<div class="member-info">
							<a th:href="@{'/detail/' + ${doctor.id}}">
								<h4> [[${doctor.fullname}]]</h4>
							</a>
							<span>[[${doctor.getClinic().getName()}]]</span>
							<p>[[${doctor.getSpecialty().getName()}]]</p>
							<span>[[${doctor.description}]]</span>
							<!--<small class="text-muted"
                               th:text="|Experience: ${#dates.year(#dates.createNow()) - #dates.year(doctor.startPracticeDate) + 1} years|"></small>-->
							<div class="social">
								<button type="button" class="btn btn-info"
									th:onclick="javascript: showDeclarationModal([[${declaration.id}]], [[${doctor.id}]])"><i
										class="fas fa-book-medical"></i> Đặt ngay</button>
							</div>
						</div>
					</div>
				</div>

			</div>
			<div th:replace="fragments/modal.html"></div>

			<div class="mt-4" th:if="${not #lists.isEmpty(recentDoctors)}">
				<h2 class="text-center">Bác sĩ đã đặt gần đây</h2>
				<div class="row">
					<div class="col-lg-6 mt-4" th:each="doctor : ${recentDoctors}">
						<div class="member d-flex align-items-start">
							<div class="pic"><img src="/img/doctors/doctors-1.jpg" class="img-fluid" alt=""></div>
							<div class="member-info">
								<a th:href="@{'/detail/' + ${doctor.id}}">
									<h4> [[${doctor.fullname}]]</h4>
								</a>
								<span>[[${doctor.getClinic().getName()}]]</span>
								<p>[[${doctor.getSpecialty().getName()}]]</p>
								<span>[[${doctor.description}]]</span>
								<!--<small class="text-muted"
                               th:text="|Experience: ${#dates.year(#dates.createNow()) - #dates.year(doctor.startPracticeDate) + 1} years|"></small>-->
								<div class="social">
									<button type="button" class="btn btn-warning"
										th:onclick="javascript: showDeclarationModal([[${declaration.id}]], [[${doctor.id}]])"><i
											class="fas fa-book-medical"></i> Đặt lại</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</section>

	<script>
		$(document).ready(function () {
			$("#btnFind").click(function () {
				var id = $("#specialty option:selected").val();
				console.log("Test: " + id);
				$("#accordion").empty();
				
				$.ajax({
					url: "/patients/getDoctors?id=" + id,
					type: "GET",
					error: function () {
						alert("Fail");
					},
					success: function (data, statusText, xhr) {
						alert("OK");
					}
				});
				
				});
			
			
		});
	</script>

</body>

</html>