<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	th:replace="~{fragments/layout :: layout (~{::body},'doctors','Chi tiết bác sĩ')}">

<body>
	<h2 class="text-center" style="margin: 30px">[[${doctor.fullname}]]</h2>

	<div class="card book-detail-page doctor-detail-page">
		<div class="card-body">
			<div class="row">
				<div class="col-sm-4">
					<img th:src="@{${doctor.profileImage}}" class="img-thumbnail" width="100%">
					<div class="card-body mt-2">
						<ul class="list-group">
							<li class="list-group-item d-flex justify-content-between align-items-center">
								Số lượt khám
								<span class="badge badge-primary badge-pill">2</span>
							</li>
							<li class="list-group-item d-flex justify-content-between align-items-center">
								Số bài đăng
								<span class="badge badge-danger badge-pill">[[${totalPost}]]</span>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-sm-8">
					<div class="row">
						<div class="col-sm-4 form-group">
							<label>Phòng khám</label>
						</div>
						<div class="col-sm-8 form-group">
							[[${doctor.getClinic().getName()}]]
						</div>
					</div>

					<div class="row">
						<div class="col-sm-4 form-group">
							<label>Chuyên khoa</label>
						</div>
						<div class="col-sm-8 form-group">
							[[${doctor.getSpecialty().getName()}]]
						</div>
					</div>

					<div class="row">
						<div class="col-sm-4 form-group">
							<label>Kinh nghiệm</label>
						</div>
						<div class="col-sm-8 form-group">
							<!--<small class="text-muted"
                               th:text="|Experience: ${#dates.year(#dates.createNow()) - #dates.year(doctor.startPracticeDate) + 1} years|"></small>-->
						</div>
					</div>

					<div class="row">
						<div class="col-sm-4 form-group">
							<label>Chứng chỉ</label>
						</div>
						<div class="col-sm-8 form-group">
							<a th:if="${certification}" th:href="@{'/file/' + ${certification.id}}" target="_blank"
								style="margin: 5px;"><i class="fas fa-solid fa-eye"></i>
								Xem chứng chỉ</a>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-4 form-group">
							<label>Mô tả</label>
						</div>
						<div class="col-sm-8 form-group">
							[[${doctor.description}]]
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4 form-group">
							<h6>Rating</h6>
						</div>
						<div class="col-sm-8 form-group">
							<div th:each="loop: ${#numbers.sequence(1, 5)}" style="display: inline;">
								<span class="fa fa-star"
									th:classappend="${loop <= doctorRating} ? 'checked-star':''"></span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4 form-group">
							<button type="button" class="btn btn-info"
								th:onclick="javascript: showDeclarationModal([[${declaration.id}]], [[${doctor.id}]])"><i
									class="fas fa-book-medical"></i> Đặt ngay</button>
						</div>
						<div class="col-sm-4">
							<p th:if="${isFollow == true}">
								<button type="button"  th:onclick="handleUnFollow([[${doctor.id}]])" class="btn btn-danger"><i class="fas fa-heart-crack"></i>
									Bỏ theo dõi</button>
							</p>
							<p th:unless="${isFollow}">
								<button type="button" th:onclick="handleFollow([[${doctor.id}]])"
									class="btn btn-warning"><i class="fas fa-heart"></i>
									Theo dõi</button>
							</p>
						</div>
						<div class="col">
							<a th:href="@{'/forum/list?did=' + ${doctor.id}}" class="btn btn-success">
								<i class="fas fa-newspaper"></i> Bài viết
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<h2 class="text-center">Các review của bác sĩ</h2>
	<div class="card review-block">
		<div th:if="${#lists.isEmpty(reviewList)}">
			<span>
				<h5>Bác sĩ không có review nào.</h5>
			</span>
		</div>
		<div th:each="review : ${reviewList}">
			<div class="space">
				<span>
					<h5>[[${review.patient.fullname}]]</h5>
				</span>
				<div>
					<div th:each="loop: ${#numbers.sequence(1, 5)}" style="display: inline;">
						<span class="fa fa-star" th:classappend="${loop <= review.rating} ? 'checked-star':''"></span>
					</div>
				</div>
			</div>
			<div class="well">
				[[${review.feedback}]]
			</div>
		</div>
	</div>

	<div th:replace="fragments/modal.html"></div>
	<script th:inline="javascript">
		const handleFollow = (id) => {
			$.confirm({
				type: 'green',
				title: '<i class="fa fa-exclamation-triangle" aria-hidden="true" style="color:green;"></i> ' + 'Xác nhận!!',
				content: 'Khi theo dõi bác sĩ bạn sẽ thấy thông báo mỗi khi bác sĩ có bài đăng trên diễn đàn?',
				autoClose: 'No|8000',
				buttons: {
					Yes: function () {
						$.ajax({
							url: "/patients/follow?id=" + id,
							type: 'GET',
							dataType: 'json',
							success: function (data) {
								location.reload();
							},
							error: function (xhr, status, error) {
								console.log("Lỗi đã xảy ra!");
								location.reload();
							}
						});
					},
					No: function () {
					}
				}
			});
		}
		const handleUnFollow = (id) => {
			$.confirm({
				type: 'red',
				title: '<i class="fa fa-exclamation-triangle" aria-hidden="true" style="color:red;"></i> ' + 'Xác nhận!!',
				content: 'Khi bỏ theo dõi bác sĩ này, bạn sẽ không thấy thông báo mỗi khi bác sĩ có bài đăng trên diễn đàn?',
				autoClose: 'No|8000',
				buttons: {
					Yes: function () {
						$.ajax({
							url: "/patients/unfollow?id=" + id,
							type: 'GET',
							dataType: 'json',
							success: function (data) {
								location.reload();
							},
							error: function (xhr, status, error) {
								console.log("Lỗi đã xảy ra!");
								location.reload();
							}
						});
					},
					No: function () {
					}
				}
			});
		}
	</script>
</body>

</html>