<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	th:replace="~{fragments/base :: base (~{::body},'Cuộc hẹn khám')}">

<body>
	<div class="content-header" id="scroll">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h4 class="m-0">Cuộc hẹn khám</h4>
				</div>
				<!-- /.col -->
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item"><a th:href="@{/admin/home}">Home</a></li>
						<li class="breadcrumb-item active">Cuộc hẹn khám</li>
					</ol>
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-body" style="display: block;">
						<table class="table table-bordered" id="tbl-user-doctor">
							<thead>
								<tr style="text-align:center;">
									<th>#</th>
									<th>Bác sĩ</th>
									<th>Bệnh nhân</th>
									<th>Thời gian bắt đầu</th>
									<th>Thời gian kết thúc</th>
									<th>Gói khám bệnh</th>
									<th>Trạng thái</th>
									<th>Hành động</th>
								</tr>
							</thead>
							<tbody style="text-align:center;">

							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>

	<div layout:fragment="script">
		<script type="text/javascript">
			$(document)
				.ready(
					function () {
						$("#nav-doctAppoint").addClass("active menu-is-opening menu-open");
						$("#nav-viewAppoinment").addClass("active");

						var k = 0;
						var table = $('#tbl-user-doctor')
							.DataTable(
								{
									"sAjaxSource": "/admin/getAppointmentList",
									"sAjaxDataProp": "",
									"aoColumns": [
										{
											"mData": "id",
											"render": function (data, type, row) {
												k += 1;
												return k;
											}
										}, {
											"mData": "doctor"
										}, {
											"mData": "patient"
										}, {
											"mData": "start"
										}, {
											"mData": "end"
										}, {
											"mData": "packages"
										}, {
											"mData": "status"
										}],
									"fnCreatedRow": function (nRow, aData, iDataIndex) {
										$('td:eq(1)', nRow).attr("data-id", aData.id);
									}
								});

						$('#tbl-user-doctor tbody').on('click', '#deleteUnID', function () {
							var curRow = $(this).closest('tr');
							var uniId = curRow.find('td:eq(1)').attr("data-id");

							if (uniId != '') {
								$.confirm({
									type: 'red',
									title: '<i class="fa fa-exclamation-triangle" aria-hidden="true" style="color:red;"></i> ' + 'Confirm!!',
									content: 'Do you want to delete?',
									buttons: {
										Yes: function () {
											$.ajax({
												url: "/admin/deleteAppoinment?id=" + uniId,
												type: 'GET',
												dataType: 'json',
												success: function (data) {

													if (data.msgCode == '200') {
														i = 0;
														$.confirm({
															type: 'green',
															title: '<i class="fas fa-check-circle" aria-hidden="true" style="color:#51D88A;"></i> ' + 'Success!!',
															content: 'Delete successfully!!',
															buttons: {
																ok: function () {

																}
															}
														});
														table.ajax.reload();
													}

												},
												error: function (xhr, status, error) {
													showAlertByType('Something Wrong!', "F");
												}
											});
										},
										No: function () {

										}
									}
								});
							}
						});
					});
		</script>
	</div>
	<div layout:fragment="css"></div>