<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	th:replace="~{fragments/base :: base (~{::body},'Cuộc hẹn khám')}">

<body>
	<div class="content-header" id="scroll">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h4 class="m-0">Cuộc hẹn khám</h4>
				</div>
				<!-- /.col -->
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item"><a th:href="@{/admin/home}">Trang chủ</a></li>
						<li class="breadcrumb-item active">Cuộc hẹn khám</li>
					</ol>
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<a id="btn-all-invoice" class="btn btn-outline-success">
					Phát hành tất cả hóa đơn ở trạng thái xác nhận</a>
			</div>
			<div class="col-md-4">
				<div class="form-group form-inline">
					<label>Lọc trạng thái: </label>
					<select id="status" class="form-control filter m-2">
						<option value="all"> Tất cả</option>
						<option value="SCHEDULED">SCHEDULED</option>
						<option value="FINISHED">FINISHED</option>
						<option value="CANCELED">CANCELED</option>
						<option value="CONFIRMED">CONFIRMED</option>
						<option value="INVOICED">INVOICED</option>
						<option value="REJECTION_REQUESTED">REJECTION_REQUESTED</option>
						<option value="REJECTED">REJECTED</option>
					</select>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-body" style="display: block;">
						<table class="table table-bordered" id="tbl-appointment">
							<thead class="thead-light">
								<tr style="text-align:center;">
									<th>#</th>
									<th>Bác sĩ</th>
									<th>Bệnh nhân</th>
									<th>Thời gian bắt đầu</th>
									<th>Thời gian kết thúc</th>
									<th>Gói khám bệnh</th>
									<th>Trạng thái</th>
									<th>Hành động</th>
								</tr>
							</thead>
							<tbody style="text-align:center;">
								<tr th:if="${appointmentList.size()==0}">
									<td colspan="5"> Không có bác sĩ nào</td>
								</tr>
								<tr th:each="appointment : ${appointmentList}">
									<td th:data-id="${appointment.id}">
										<a target="_blank" class="btn btn-warning btn-sm"
											th:href="@{'/appointments/' + ${appointment.id}}">
											<i class="fas fa-eye"></i></a>
									</td>
									<td><span th:text="${appointment.doctor}"></span></td>
									<td><span th:text="${appointment.patient}"></span></td>
									<td><span th:text="${appointment.start}"></span></td>
									<td><span th:text="${appointment.end}"></span></td>
									<td><span th:text="${appointment.packages}"></span></td>
									<td><span th:text="${appointment.status}"></span></td>
									<td>
										<a id="btn-cancel" class="btn btn-outline-danger btn-sm"
											th:if="${appointment.status == 'SCHEDULED'}">Hủy
										</a>
										<a id="btn-invoice" class="btn btn-outline-success btn-sm"
											th:if="${appointment.status == 'FINISHED'} or ${appointment.status == 'CONFIRMED'}">Xuất
											hóa đơn
										</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>

	<div layout:fragment="script">
		<script type="text/javascript">
			$(document).ready(function () {
				$("#nav-doctAppoint").addClass("active menu-is-opening menu-open");
				$("#nav-viewAppoinment").addClass("active");

				var table = $('#tbl-appointment').DataTable({
					"order": [
						[3, "desc"]
					],
				});
				
				$("#status").on('change', function () {
					$('#tbl-appointment').DataTable({
						destroy: true,
						"dom": '<"toolbar">lrtip',
						"bFilter": true,
						"bLengthChange": true,
						"order": [
							[3, "desc"]
						],
						"initComplete": function () {
							this.api().columns([6]).every(function () {
								var column = this;
								var searchString = $("#status").val();
								if (searchString == 'all') {
									column.draw();
								} else {
									console.log("test: " + searchString)
									searchString = searchString.replace('<span>', '');
									searchString = searchString.replace('</span>', '');
									var val = $.fn.dataTable.util.escapeRegex(searchString);
									column.search(val ? '^' + val + '$' : '', true, false).draw();
								}
							});
						}
					});
				});

				$('#tbl-appointment tbody').on('click', '#btn-cancel', function () {
					var curRow = $(this).closest('tr');
					var uniId = curRow.find('td:eq(0)').attr("data-id");
					if (uniId != '') {
						$.confirm({
							type: 'red',
							title: '<i class="fa fa-exclamation-triangle" aria-hidden="true" style="color:red;"></i> ' + 'Xác nhận!!',
							content: 'Bạn có chắc chắn hủy cuộc hẹn không?',
							autoClose: 'No|8000',
							buttons: {
								Yes: function () {
									$.ajax({
										url: "/appointments/cancelAdmin?id=" + uniId,
										type: 'GET',
										dataType: 'json',
										success: function (data) {
											if (data.msgCode == '200') {
												i = 0;
												$.confirm({
													type: 'green',
													title: '<i class="fas fa-check-circle" aria-hidden="true" style="color:#51D88A;"></i> ' + 'Thành công!!',
													content: 'Hủy cuộc hẹn thành công!!',
													buttons: {
														ok: function () {
														}
													}
												});
												curRow.find('td:eq(7)').css("display", "none");
												curRow.find('td:eq(6) span').text("CANCELED");
											}
										},
										error: function (xhr, status, error) {
											showAlertByType('Có một vài lỗi!', "F");
										}
									});
								},
								No: function () {

								}
							}
						});
					}
				});

				$('#tbl-appointment tbody').on('click', '#btn-invoice', function () {
					var curRow = $(this).closest('tr');
					var uniId = curRow.find('td:eq(0)').attr("data-id");

					if (uniId != '') {
						$.confirm({
							type: 'green',
							title: '<i class="fa fa-exclamation-triangle" aria-hidden="true" style="color:green;"></i> ' + 'Xác nhận!',
							content: 'Bệnh nhân đã thanh toán tiền chưa?',
							buttons: {
								PAID: function () {
									$.ajax({
										url: "/invoices/create?id=" + uniId + "&status=paid",
										type: 'GET',
										dataType: 'json',
										success: function (data) {
											if (data.msgCode == '200') {
												i = 0;
												$.confirm({
													type: 'green',
													title: '<i class="fas fa-check-circle" aria-hidden="true" style="color:#51D88A;"></i> ' + 'Thành công!!',
													content: 'Cuộc hẹn đã thanh toán và in hóa đơn thành công!!',
													buttons: {
														ok: function () {
														}
													}
												});
												curRow.find('td:eq(7)').css("display", "none");
												curRow.find('td:eq(6) span').text("INVOICED");
											}
										},
										error: function (xhr, status, error) {
											console.log("Error");
										}
									});
								},
								ISSUED: function () {
									$.ajax({
										url: "/invoices/create?id=" + uniId + "&status=issued",
										type: 'GET',
										dataType: 'json',
										success: function (data) {
											if (data.msgCode == '200') {
												i = 0;
												$.confirm({
													type: 'green',
													title: '<i class="fas fa-check-circle" aria-hidden="true" style="color:#51D88A;"></i> ' + 'Thành công!!',
													content: 'Cuộc hẹn chưa thanh toán và in hóa đơn thành công. Thay đổi trạng thái ở mục hóa đơn!!!',
													buttons: {
														ok: function () {
														}
													}
												});
												$('#btn-invoice').css("display", "none");
											}
										},
										error: function (xhr, status, error) {
											console.log("Error");
										}
									});
								},
								EXIT: function () {

								}
							}
						});
					}
				});

				$("#btn-all-invoice").click(function () {
					$.confirm({
						type: 'green',
						title: '<i class="fa fa-exclamation-triangle" aria-hidden="true" style="color:green;"></i> ' + 'Xác nhận!!',
						content: 'Những trạng thái xác nhận sẽ được phát hành hóa đơn (chưa thanh toán) và gửi qua mail của bệnh nhân. Bạn có chắc chắn không?',
						autoClose: 'No|12000',
						buttons: {
							Yes: function () {
								location.href = '/invoices/issue';
							},
							No: function () {
							}
						}
					});
				});


			});
		</script>
	</div>
	<div layout:fragment="css"></div>