<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	th:replace="~{fragments/base :: base (~{::body},'Doctor')}">

<body>
	<div class="content-header" id="scroll">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h4 class="m-0">Danh sách bác sĩ</h4>
				</div>
				<!-- /.col -->
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item"><a th:href="@{/admin/home}">Home</a></li>
						<li class="breadcrumb-item active">Bác sĩ</li>
					</ol>
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</div>
	</div>
	<div class="container-fluid">
		<div class="card card-outline card-primary">
			<div class="card-header">
				<h3 class="card-title"></h3>
				<div class="card-tools">
					<button type="button" class="btn btn-tool" data-card-widget="collapse">
						<i class="fas fa-minus"></i>
					</button>
					<button type="button" class="btn btn-tool" data-card-widget="remove">
						<i class="fas fa-times"></i>
					</button>
				</div>
			</div>
			<!-- /.card-header -->
			<div class="card-body" style="display: block;">
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<input type="hidden" id="updateId" />
							<label>Tên đăng nhập<span class="errorMsg">*</span></label>
							<input class="form-control filter" type="text" id="userName"
								placeholder="Nhập tên đăng nhập">
							<span class="errorMsg" id="errorMsgUsername"></span>
						</div>
						<div class="form-group">
							<label>Email<span class="errorMsg">*</span></label>
							<input class="form-control filter" type="text" id="email" placeholder="Nhập email">
							<span class="errorMsg" id="errorMsgEmail"></span>
						</div>
						<div class="form-group">
							<label>Phòng khám<span class="errorMsg">*</span></label>
							<select id="clinic" class="form-control filter">
								<option value="-1">--Chọn--</option>
								<option th:each="resultMap : ${clinics}" th:value="${resultMap.name}"
									th:text="${resultMap.name}"></option>
							</select>
							<span class="errorMsg" id="errorMsgClinic"></span>
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label>Họ và tên<span class="errorMsg">*</span></label>
							<input class="form-control filter" type="text" id="fullname" placeholder="Nhập họ và tên">
							<span class="errorMsg" id="errorMsgName"></span>
						</div>
						<div class="form-group">
							<label>Chuyên khoa<span class="errorMsg">*</span></label>
							<select id="specialty" class="form-control filter">
								<option value="-1">--Chọn--</option>
								<option th:each="resultMap : ${specialties}" th:value="${resultMap.name}"
									th:text="${resultMap.name}"></option>
							</select>
							<span class="errorMsg" id="errorMsgSpecialty"></span>
						</div>
					</div>

					<div class="margin">
						<div class="btn-group">
							<button style="color: #ffffff;" type="button" class="btn btn-block bg-gradient-info btn-sm"
								id="btn-save">
								<i class="far fa-save"></i> Lưu
							</button>
						</div>

						<div class="btn-group">
							<button style="color: #ffffff;" type="button"
								class="btn btn-block bg-gradient-warning btn-sm" id="btn-reset">
								<i class="fas fa-sync"></i> Reset
							</button>
						</div>
					</div>
				</div>
			</div>

			<div class="card card-default">
				<div class="card-header">
					<h3 class="card-title"></h3>
					<div class="card-tools">
						<button type="button" class="btn btn-tool" data-card-widget="collapse">
							<i class="fas fa-minus"></i>
						</button>
						<button type="button" class="btn btn-tool" data-card-widget="remove">
							<i class="fas fa-times"></i>
						</button>
					</div>
				</div>
				<!-- /.card-header -->
				<div class="card-body" style="display: block;">
					<table class="table table-bordered" id="tbl-adddoctor">
						<thead>
							<tr style="text-align:center;">
								<th style="width: 10px">#</th>
								<th>Tên đăng nhập</th>
								<th>Email</th>
								<th>Họ và tên</th>
								<th>Chuyên khoa</th>
								<th>Phòng khám</th>
								<th style="width: 100px">Hành động</th>
							</tr>
						</thead>
						<tbody style="text-align:center;">

						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div layout:fragment="script">
		<script type="text/javascript">
			$(document).ready(function () {
				$("#nav-addDoctor").addClass("active");
				$("#nav-doctorId").addClass("active menu-is-opening menu-open");

				var i = 0;
				var table = $('#tbl-adddoctor').DataTable({
					"sAjaxSource": "/admin/getListDoctor",
					"sAjaxDataProp": "",
					"aoColumns": [
						{
							"mData": "id",
							"render": function (data, type, row) {
								i += 1;
								return i;
							}
						}, {
							"mData": "userName"
						}, {
							"mData": "email"
						}, {
							"mData": "fullname"
						}, {
							"mData": "nameSpecialty"
						}, {
							"mData": "nameClinic"
						}, {
							"className": "dt-btn",
							"render": function () {
								return '<div class="btn-group btn-group-sm"> <a id="redirectUnID" class="btn btn-warning"><i class="fas fa-eye"></i></a><a href="#" class="btn btn-info" id="editUnID"><i class="fas fa-user-edit"></i></a><a href="#" class="btn btn-danger" id="deleteUnID"><i class="fas fa-trash"></i></a></div>';
							}
						}],
					"fnCreatedRow": function (nRow, aData, iDataIndex) {
						$('td:eq(1)', nRow).attr("data-id", aData.id);
					}
				});

				$('#tbl-adddoctor tbody').on('click', '#redirectUnID', function () {
					var curRow = $(this).closest('tr');
					var id = curRow.find('td:eq(1)').attr("data-id");
					var url = '/detail/' + id;
					window.open(url, '_blank');
				});

				$("#btn-save").click(function () {
					if (dataValidation()) {
						var uniList = {};
						uniList.userName = $("#userName").val();
						uniList.email = $("#email").val();
						uniList.fullname = $("#fullname").val();
						uniList.nameSpecialty = $("#specialty option:selected").val();
						uniList.nameClinic = $("#clinic option:selected").val();
						uniList.id = $("#updateId").val();

						$.ajax({
							type: "POST",
							contentType: "application/json",
							url: "/admin/saveDoctor",
							data: JSON.stringify(uniList),
							timeout: 100000,
							async: true,
							dataType: 'json',
							success: function (data) {
								if (data.msgCode == '200') {
									$.confirm({
										type: 'green',
										title: '<i class="fas fa-check-circle" aria-hidden="true" style="color:#51D88A;"></i> ' + 'Success!!',
										content: 'Thêm bác sĩ thành công. Đã gửi thông tin tài khoản đến mail đến bác sĩ.',
										buttons: {
											ok: function () { }
										}
									});
									i = 0;
									table.ajax.reload();
									resetText();
								} else if (data.msgCode == '205') {
									$.confirm({
										type: 'green',
										title: '<i class="fas fa-check-circle" aria-hidden="true" style="color:#51D88A;"></i> ' + 'Success!!',
										content: 'Chỉnh sửa thông tin bác sĩ thành công.',
										buttons: {
											ok: function () { }
										}
									});
									i = 0;
									table.ajax.reload();
									resetText();
								} else if (data.msgCode == "exitName") {
									$("#errorMsgName").text("Name already exit!!");
									$("#fullname").css('border', '1px solid red');
									$("#fullname").focus();
								} else if (data.msgCode == "exitEmail") {
									$("#errorMsgEmail").text("Email already exit!!");
									$("#email").css('border', '1px solid red');
									$("#email").focus();
								}
							},
							error: function (
								xhr,
								status,
								error) {
								showCustomAlert('D', "Sorry,Something wrong.Please contact with IT Team!!");
							}
						});
					}
				});

				function dataValidation() {
					var status = true;
					var pattern = /^\b[A-Z0-9._%-]+@[A-Z0-9.-]+\.[A-Z]{2,4}\b$/i;

					if ($("#clinic").val() == -1) {
						status = false;
						$("#errorMsgClinic").text("Required Field!!");
						$("#clinic").css('border', '1px solid red');
						$("#clinic").focus();
						return status;
					}

					if ($("#specialty").val() == -1) {
						status = false;
						$("#errorMsgSpecialty").text("Required Field!!");
						$("#specialty").css('border', '1px solid red');
						$("#specialty").focus();
						return status;
					}

					if ($("#fullname").val() == "") {
						status = false;
						$("#errorMsgFullname").text("Required Field!!");
						$("#fullname").css('border', '1px solid red');
						$("#fullname").focus();
						return status;
					} else if ($("#fullname").val().length < 2) {
						status = false;
						$("#errorMsgName").text(
							"Length must be greater than 2 characters!!");
						$("#fullname").css('border',
							'1px solid red');
						$("#fullname").focus();
						return status;
					}

					if ($("#userName").val() == "") {
						status = false;
						$("#errorMsgUsername").text(
							"Required Field!!");
						$("#userName").css('border',
							'1px solid red');
						$("#userName").focus();
						return status;
					} else if ($("#userName").val() < 2) {
						status = false;
						$("#errorMsgUsername").text(
							"Length must be greater than 2 characters!!");
						$("#userName").css('border',
							'1px solid red');
						$("#userName").focus();
						return status;
					}

					if ($("#email").val() == "") {
						status = false;
						$("#errorMsgEmail").text(
							"Required Field!!");
						$("#email").css('border',
							'1px solid red');
						$("#email").focus();
						return status;
					} else if (!pattern.test($("#email").val())) {
						status = false;
						$("#errorMsgEmail").text(
							"Invalid Email Address!!");
						$("#email").css('border',
							'1px solid red');
						$("#email").focus();
						return status;
					}

					return status;
				}

				function resetText() {
					$("#fullname").val('');
					$("#errorMsgName").text("");
					$("#fullname").css('border', '1px solid #CED4DA');

					$("#email").val('');
					$('#email').prop('readonly', false);
					$("#errorMsgEmail").text("");
					$("#email").css('border', '1px solid #CED4DA');

					$("#userName").val('');
					$('#userName').prop('readonly', false);
					$("#errorMsgUserName").text("");
					$("#userName").css('border', '1px solid #CED4DA');

					$("#clinic option:selected").text("--Chọn--");
					$("#clinic option:selected").val(-1);
					$("#errorMsgClinic").text("");
					$("#clinic").css('border', '1px solid #CED4DA');

					$("#specialty option:selected").text("--Chọn--");
					$("#specialty option:selected").val(-1);
					$("#errorMsgSpecialty").text("");
					$("#specialty").css('border', '1px solid #CED4DA');

					$("#updateId").val('');
				}

				$("#btn-reset").click(function () {
					resetText();
				});

				$('#tbl-adddoctor tbody').on('click', '#deleteUnID', function () {
					var curRow = $(this).closest('tr');
					var uniId = curRow.find('td:eq(1)').attr("data-id");
console.log("OK id: " +uniId);
					if (uniId != '') {
						$.confirm({
							type: 'orange',
							title: '<i class="fa fa-exclamation-triangle" aria-hidden="true" style="color:orange;"></i> ' + 'Confirm!!',
							content: 'Do you want to delete?',
							buttons: {
								Yes: function () {
									$.ajax({
										url: "/admin/deleteDoctor?id=" + uniId,
										type: 'GET',
										dataType: 'json',
										success: function (data) {
											if (data.msgCode == '200') {
												i = 0;
												$.confirm({
													type: 'green',
													title: '<i class="fas fa-check-circle" aria-hidden="true" style="color:#51D88A;"></i> ' + 'Success!!',
													content: 'Delete successfully.',
													buttons: {
														ok: function () { }
													}
												});
												table.ajax.reload();
											}
										},
										error: function (xhr, status, error) {
											showAlertByType('Something Wrong!', "F");
										}
									});
								},
								No: function () { }
							}
						});
					}
				});

				$('#tbl-adddoctor tbody').on('click', '#editUnID', function () {
					var curRow = $(this).closest('tr');
					var id = curRow.find('td:eq(1)').attr("data-id");
					var userName = curRow.find('td:eq(1)').text();
					var email = curRow.find('td:eq(2)').text();
					var fullname = curRow.find('td:eq(3)').text();
					var specialty = curRow.find('td:eq(4)').text();
					var clinic = curRow.find('td:eq(5)').text();

					$("#updateId").val(id);
					$("#userName").val(userName);
					$('#userName').prop('readonly', true);
					$("#email").val(email);
					$('#email').prop('readonly', true);
					$("#fullname").val(fullname);
					$("#userName").val(userName);

					$("#clinic option:selected").text(clinic);
					$("#clinic option:selected").val(clinic);
					$("#specialty option:selected").text(specialty);
					$("#specialty option:selected").val(specialty);

					$('html, body').animate({
						scrollTop: $('#scroll').offset().top
					}, 500);
				});
			});
		</script>
	</div>

	<div layout:fragment="css">
		<style>
			.errorMsg {
				color: red;
				font-size: 13px;
			}

			table.dataTable thead th,
			table.dataTable thead td {
				border-bottom: 1px solid #DEE2E6;
			}

			table.dataTable.no-footer {
				border-bottom: 1px solid #DEE2E6;
			}
		</style>
	</div>

</body>

</html>