<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	th:replace="~{fragments/base :: base (~{::body},'Admin Home')}">
<style>
	.highcharts-figure,
	.highcharts-data-table table {
		min-width: 310px;
		max-width: 800px;
		margin: 1em auto;
	}

	.highcharts-data-table table {
		font-family: Verdana, sans-serif;
		border-collapse: collapse;
		border: 1px solid #ebebeb;
		margin: 10px auto;
		text-align: center;
		width: 100%;
		max-width: 500px;
	}

	.highcharts-data-table caption {
		padding: 1em 0;
		font-size: 1.2em;
		color: #555;
	}

	.highcharts-data-table th {
		font-weight: 600;
		padding: 0.5em;
	}

	.highcharts-data-table td,
	.highcharts-data-table th,
	.highcharts-data-table caption {
		padding: 0.5em;
	}

	.highcharts-data-table thead tr,
	.highcharts-data-table tr:nth-child(even) {
		background: #f8f8f8;
	}

	.highcharts-data-table tr:hover {
		background: #f1f7ff;
	}
</style>

<body>
	<div>
		<div class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h4 class="m-0">DashBoard</h4>
					</div>
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item"><a th:href="@{/admin/home}">Trang chủ</a></li>
							<li class="breadcrumb-item active">Dashboard</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row">
				<div class="col-12 col-sm-6 col-md-3">
					<div class="info-box">
						<span class="info-box-icon bg-info elevation-1"><i class="fa fa-users"></i></span>
						<div class="info-box-content">
							<span class="info-box-text">Số lượng bệnh nhân</span> <span class="info-box-number"
								th:text="${totalPatient}">
							</span>
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-6 col-md-3">
					<div class="info-box mb-3">
						<span class="info-box-icon bg-danger elevation-1"><i class="fa fa-user-md"></i></span>

						<div class="info-box-content">
							<span class="info-box-text">Số lượng bác sĩ</span> <span class="info-box-number"
								th:text="${totalDoctor}"></span>
						</div>
					</div>
				</div>
				<!-- fix for small devices only -->
				<div class="clearfix hidden-md-up"></div>

				<div class="col-12 col-sm-6 col-md-3">
					<div class="info-box mb-3">
						<span class="info-box-icon bg-success elevation-1"><i class="fa fa-comments"></i></span>

						<div class="info-box-content">
							<span class="info-box-text">Số lượng bài đăng</span> <span class="info-box-number"
								th:text="${totalPost}"></span>
						</div>
						<!-- /.info-box-content -->
					</div>
					<!-- /.info-box -->
				</div>

				<!-- /.col -->
				<div class="col-12 col-sm-6 col-md-3">
					<div class="info-box mb-3">
						<span class="info-box-icon bg-warning elevation-1"><i class="fa fa-blog"></i></span>

						<div class="info-box-content">
							<span class="info-box-text">Số lượng cuộc hẹn</span> <span class="info-box-number"
								th:text="${totalAppointment}"></span>
						</div>
						<!-- /.info-box-content -->
					</div>
					<!-- /.info-box -->
				</div>
				<!-- /.col -->
			</div>




			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<h5 class="card-title">Báo cáo hàng tháng trong năm</h5>

							<div class="card-tools">
								<button type="button" class="btn btn-tool" data-card-widget="collapse">
									<i class="fas fa-minus"></i>
								</button>
								<div class="btn-group">
									<button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown">
										<i class="fas fa-wrench"></i>
									</button>
									<div class="dropdown-menu dropdown-menu-right" role="menu">
										<a href="#" class="dropdown-item">Hành động</a> <a href="#"
											class="dropdown-item">Hành động khác</a> <a href="#"
											class="dropdown-item">Something else here</a> <a
											class="dropdown-divider"></a> <a href="#" class="dropdown-item">Separated
											link</a>
									</div>
								</div>
								<button type="button" class="btn btn-tool" data-card-widget="remove">
									<i class="fas fa-times"></i>
								</button>
							</div>
						</div>
						<!-- /.card-header -->
						<div class="card-body">
							<div class="row">
								<div class="col-md-12">
									<div class="chart" id="myChart">
										<!--<canvas class="my-5" id="myChart"></canvas> Sales Chart Canvas <canvas id="salesChart" height="180" style="height: 180px;"></canvas>-->

									</div>
									<!-- /.chart-responsive -->
								</div>
							</div>
							<!-- /.row -->
						</div>
						<!-- ./card-body -->

						<!-- /.card-footer -->
					</div>
					<!-- /.card -->
				</div>
				<!-- /.col -->
			</div>
		</div>
	</div>

	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/modules/series-label.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>
	<script src="https://code.highcharts.com/modules/export-data.js"></script>
	<script src="https://code.highcharts.com/modules/accessibility.js"></script>
	<div layout:fragment="script">
		<script type="text/javascript">
			$(document).ready(function () {
				$("#nav-linkDashboard").addClass("active");

				Highcharts.chart('myChart', {
					chart: {
						type: 'spline'
					},
					title: {
						text: 'Thống kê qua các tháng'
					},
					subtitle: {
						text: 'EasyDoctor'
					},
					xAxis: {
						categories: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6',
							'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
						accessibility: {
							description: 'Các tháng trong năm'
						}
					},
					yAxis: {
						title: {
							text: 'Số lượng'
						},
						labels: {
							formatter: function () {
								return this.value + '°';
							}
						}
					},
					tooltip: {
						crosshairs: true,
						shared: true
					},
					plotOptions: {
						spline: {
							marker: {
								radius: 4,
								lineColor: '#666666',
								lineWidth: 1
							}
						}
					},
					series: [{
						name: 'Cuộc hẹn',
						marker: {
							symbol: 'square'
						},
						data: [[${dataAppointment}]]

					}, {
						name: 'Bài đăng',
						marker: {
							symbol: 'diamond'
						},
						data: [[${dataPost}]]
					}]
				});
			});
		</script>
	</div>

</body>

</html>