<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	th:replace="~{fragments/base :: base (~{::body},'Gói khám')}">

<body>
	<div class="content-header" id="scroll">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h4 class="m-0">Thông tin gói khám</h4>
				</div>
				<!-- /.col -->
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item"><a th:href="@{/admin/home}">Trang chủ</a></li>
						<li class="breadcrumb-item active">Gói khám</li>
					</ol>
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</div>
	</div>
	<div class="container-fluid">
		<div class="card card-outline card-primary">
			<div class="card-header">
				<h3 class="card-title"></h3>
				<div class="card-tools">
					<button type="button" class="btn btn-tool" data-card-widget="collapse">
						<i class="fas fa-minus"></i>
					</button>
					<button type="button" class="btn btn-tool" data-card-widget="remove">
						<i class="fas fa-times"></i>
					</button>
				</div>
			</div>
			<!-- /.card-header -->
			<div class="card-body" style="display: block;">
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label>Tên gói khám<span class="errorMsg">*</span></label>
							<input type="hidden" id="updateId" />
							<input class="form-control filter" type="text" id="name" placeholder="Nhập tên gói khám">
							<span class="errorMsg" id="errorMsgName"></span>
						</div>

						<div class="form-group">
							<label>Giá<span class="errorMsg">*</span></label>
							<input class="form-control filter" type="number" id="price" placeholder="Nhập giá"> <span
								class="errorMsg" id="errorMsgPrice"></span>
						</div>
						<div class="form-group">
							<label>Thời lượng<span class="errorMsg">*</span></label>
							<select id="duration" class="form-control filter">
								<option value="-1">Chọn thời lượng</option>
								<option value="30">30 phút</option>
								<option value="60">60 phút</option>
								<option value="90">90 phút</option>
								<option value="120">120 phút</option>
							</select>
							<span class="errorMsg" id="errorMsgDuration"></span>
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label>Mô tả<span class="errorMsg">*</span></label>
							<input class="form-control filter" type="text" id="description" placeholder="Nhập mô tả">
							<span class="errorMsg" id="errorMsgDescription"></span>
						</div>
						<div class="form-group">
							<label>Có thể huỷ bởi bệnh nhân ?<span class="errorMsg">*</span></label><br>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" id="option1" name="editable" value="True">
								<label class="form-check-label" for="option1">Có</label>
							</div>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="radio" id="option2" name="editable" value="False">
								<label class="form-check-label" for="option2">Không</label>
							</div>
							<span class="errorMsg" id="errorMsgEditable"></span>
						</div>
					</div>
				</div>

				<div class="margin">
					<div class="btn-group">
						<button style="color: #ffffff;" type="button" class="btn btn-block bg-gradient-info btn-sm"
							id="btn-save">
							<i class="far fa-save"></i> Lưu
						</button>
					</div>

					<div class="btn-group">
						<button style="color: #ffffff;" type="button" class="btn btn-block bg-gradient-warning btn-sm"
							id="btn-reset">
							<i class="fas fa-sync"></i> Reset
						</button>
					</div>
				</div>
			</div>
		</div>


		<div class="card card-default">
			<div class="card-header">
				<h3 class="card-title"></h3>
				<div class="card-tools">
					<button type="button" class="btn btn-tool" data-card-widget="collapse">
						<i class="fas fa-minus"></i>
					</button>
					<button type="button" class="btn btn-tool" data-card-widget="remove">
						<i class="fas fa-times"></i>
					</button>
				</div>
			</div>
			<!-- /.card-header -->
			<div class="card-body" style="display: block;">
				<table class="table table-bordered" id="tbl-packages">
					<thead>
						<tr style="text-align:center;">
							<th style="width: 10px">#</th>
							<th>Tên gói khám</th>
							<th>Giá</th>
							<th>Thời lượng</th>
							<th>Có thể huỷ</th>
							<th>Mô tả</th>
							<th style="width: 100px">Hành động</th>
						</tr>
					</thead>
					<tbody style="text-align:center;">

					</tbody>
				</table>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		$(document).ready(function () {
			$("#nav-packages").addClass("active");
			$("#nav-clinicId").addClass("active menu-is-opening menu-open");

			var i = 0;
			var table = $('#tbl-packages').DataTable({
				"sAjaxSource": "/admin/getListPackages",
				"sAjaxDataProp": "",
				"aoColumns": [
					{
						"mData": "id",
						"render": function (data, type, row) {
							i += 1;
							return i;
						}
					}, {
						"mData": "name"
					}, {
						"mData": "price"
					}, {
						"mData": "duration"
					}, {
						"mData": "editable"
					}, {
						"mData": "description"
					}, {
						"className": "dt-btn",
						"render": function () {
							return '<div class="btn-group btn-group-sm"> <a href="#" class="btn btn-info" id="editUnID"><i class="fas fa-user-edit"></i></a><a href="#" class="btn btn-danger" id="deleteUnID"><i class="fas fa-trash"></i></a></div>';
						}
					}],
				"fnCreatedRow": function (nRow, aData, iDataIndex) {
					$('td:eq(1)', nRow).attr("data-id", aData.id);
				}
			});

			$("#btn-save").click(function () {
				if (dataValidation()) {
					var uniList = {};
					uniList.name = $("#name").val();
					uniList.price = $("#price").val();
					uniList.duration = $("#duration").val();
					uniList.editable = $("input[name='editable']:checked").val();
					uniList.description = $("#description").val();
					uniList.id = $("#updateId").val();
					$.ajax({
						type: "POST",
						contentType: "application/json",
						url: "/admin/savePackages",
						data: JSON.stringify(uniList),
						timeout: 100000,
						async: true,
						dataType: 'json',
						success: function (data) {
							if (data.msgCode == '200') {
								$.confirm({
									type: 'green',
									title: '<i class="fas fa-check-circle" aria-hidden="true" style="color:#51D88A;"></i> ' + 'Thành công!!',
									content: 'Lưu thành công.',
									buttons: {
										ok: function () { }
									}
								});
								i = 0;
								table.ajax.reload();
								resetText();
							} else if (data.msgCode == '205') {
								$.confirm({
									type: 'green',
									title: '<i class="fas fa-check-circle" aria-hidden="true" style="color:#51D88A;"></i> ' + 'Thành công!!',
									content: 'Cập nhật thành công.',
									buttons: {
										ok: function () { }
									}
								});
								i = 0;
								table.ajax.reload();
								resetText();
							} else if (data.msgCode == "exitName") {
								$("#errorMsgName").text("Tên đã tồn tại!!");
								$("#name").css('border', '1px solid red');
								$("#name").focus();
							}
						},
						error: function (
							xhr,
							status,
							error) {
							showCustomAlert('D', "Xin lỗi, hãy liên hệ với đội ngũ IT của chúng tôi!!");
						}
					});
				}
			});

			function dataValidation() {
				var status = true;

				if ($("#name").val() == "") {
					status = false;
					$("#errorMsgName").text("Bắt buộc!!");
					$("#name").css('border', '1px solid red');
					$("#name").focus();
					return status;
				}

				if ($("#duration").val() == -1) {
					status = false;
					$("#errorMsgDuration").text("Bắt buộc!!");
					$("#duration").css('border', '1px solid red');
					$("#duration").focus();
					return status;
				}
				return status;
				
				if ($("#price").val() == 0) {
					status = false;
					$("#errorMsgPrice").text("Bắt buộc!!");
					$("#price").css('border', '1px solid red');
					$("#price").focus();
					return status;
				}
				return status;
				
				if ($("#description").val() == "") {
					status = false;
					$("#errorMsgDescription").text("Bắt buộc!!");
					$("#description").css('border', '1px solid red');
					$("#desription").focus();
					return status;
				}
		}

			function resetText() {
				$("#name").val('');
				$("#errorMsgName").text("");
				$("#name").css('border', '1px solid #CED4DA');

				$("#price").val('');
				$("#errorMsgPrice").text("");
				$("#price").css('border', '1px solid #CED4DA');

				$("#duration").val('');
				$("#errorMsgDuration").text("");
				$("#duration").css('border', '1px solid #CED4DA');

				$("#option1").prop('checked', false);
				$("#option2").prop('checked', false);
				$("#errorMsgEditable").text("");

				$("#description").val('');
				$("#errorMsgDescription").text("");
				$("#description").css('border', '1px solid #CED4DA');

				$("#updateId").val('');
			}

			$("#btn-reset").click(function () {
				resetText();
			});

			$('#tbl-packages tbody').on('click', '#deleteUnID', function () {
				var curRow = $(this).closest('tr');
				var uniId = curRow.find('td:eq(1)').attr("data-id");

				if (uniId != '') {
					$.confirm({
						type: 'orange',
						title: '<i class="fa fa-exclamation-triangle" aria-hidden="true" style="color:orange;"></i> ' + 'Xác nhận!!',
						content: 'Bạn có muốn xoá không?',
						buttons: {
							Yes: function () {
								$.ajax({
									url: "/admin/deletePackages?id=" + uniId,
									type: 'GET',
									dataType: 'json',
									success: function (data) {
										if (data.msgCode == '200') {
											i = 0;
											$.confirm({
												type: 'green',
												title: '<i class="fas fa-check-circle" aria-hidden="true" style="color:#51D88A;"></i> ' + 'Thành công!!',
												content: 'Xoá thành công.',
												buttons: {
													ok: function () { }
												}
											});
											table.ajax.reload();
										}
									},
									error: function (xhr, status, error) {
										showAlertByType('Có một vài lỗi!', "F");
									}
								});
							},
							No: function () { }
						}
					});
				}
			});

			$('#tbl-packages tbody').on('click', '#editUnID', function () {
				var curRow = $(this).closest('tr');
				var id = curRow.find('td:eq(1)').attr("data-id");
				var name = curRow.find('td:eq(1)').text();
				var price = curRow.find('td:eq(2)').text();
				var duration = curRow.find('td:eq(3)').text();
				var editable = curRow.find('td:eq(4)').text();
				var description = curRow.find('td:eq(5)').text();

				$("#updateId").val(id);
				$("#name").val(name);
				$("#price").val(price);
				$("#duration").val(duration);
				$("#description").val(description);

				if (editable == 'true') {
					console.log("Test editable: " + editable);
					$("#option1").prop('checked', true);
				}
				else {
					$("#option2").prop('checked', true);
				}

				$('html, body').animate({
					scrollTop: $('#scroll').offset().top
				}, 500);
			});

		});
	</script>

	<div layout:fragment="css">
		<style>
			.errorMsg {
				color: red;
				font-size: 13px;
			}

			table.dataTable thead th,
			table.dataTable thead td {
				border-bottom: 1px solid #DEE2E6;
			}

			table.dataTable.no-footer {
				border-bottom: 1px solid #DEE2E6;
			}
		</style>
	</div>
</body>

</html>