<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	th:replace="~{fragments/base :: base (~{::body},'Danh sách đánh giá')}">

<body>
	<div class="content-header" id="scroll">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h4 class="m-0">Danh sách đánh giá</h4>
				</div>
				<!-- /.col -->
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item"><a th:href="@{/admin/home}">Home</a></li>
						<li class="breadcrumb-item active">Danh sách đánh giá</li>
					</ol>
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-body" style="display: block;">
						<table class="table table-bordered" id="tbl-reivew">
							<thead>
								<tr style="text-align:center;">
									<th>#</th>
									<th style="width: 200px">Đánh giá</th>
									<th style="width: 100px">Xếp hạng</th>
									<th style="width: 150px">Bác sĩ</th>
									<th style="width: 150px">Người đánh giá</th>
									<th style="width: 100px">Hành động</th>
								</tr>
							</thead>
							<tbody style="text-align:center;">

							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>

	<div layout:fragment="script">
		<script type="text/javascript">
			$(document).ready(function () {
				$("#nav-messageId").addClass("active menu-is-opening menu-open");
				$("#nav-viewMessage").addClass("active");

				var i = 0;
				var table = $('#tbl-reivew').DataTable({
					"sAjaxSource": "/admin/getReviewList",
					"sAjaxDataProp": "",
					"aoColumns": [
						{
							"mData": "id",
							"render": function (data, type, row) {
								i += 1;
								return i;
							}
						}, {
							"mData": "feedback"
						}, {
							"mData": "rating"
						}, {
							"mData": "doctor"
						}, {
							"mData": "patient"
						}, {
							"className": "dt-btn",
							"render": function (data, type, row) {
								return '<div class="btn-group btn-group-sm"><a id="redirectUnID" class="btn btn-warning"><i class="fas fa-eye"></i></a><a href="#" class="btn btn-danger" id="deleteUnID"><i class="fa fa-trash"></i></a></div>';
							}
						}],
					"fnCreatedRow": function (nRow, aData, iDataIndex) {
						$('td:eq(1)', nRow).attr("data-id", aData.id);
					}
				});

				$('#tbl-reivew tbody').on('click', '#redirectUnID', function () {
					var curRow = $(this).closest('tr');
					var id = curRow.find('td:eq(1)').attr("data-id");
					var url = '/detail/' + id;
					window.open(url, '_blank');
				});

				$('#tbl-reivew tbody').on('click', '#deleteUnID', function () {
					var curRow = $(this).closest('tr');
					var uniId = curRow.find('td:eq(1)').attr("data-id");
					console.log("OK: " + uniId);
					if (uniId != '') {
						$.confirm({
							type: 'red',
							title: '<i class="fa fa-exclamation-triangle" aria-hidden="true" style="color:red;"></i> ' + 'Xác nhận!!',
							content: 'Bạn có chắc chắn muốn xóa không?',
							buttons: {
								Yes: function () {
									$.ajax({
										url: "/admin/deleteReview?id=" + uniId,
										type: 'GET',
										dataType: 'json',
										success: function (data) {
											if (data.msgCode == '200') {
												i = 0;
												$.confirm({
													type: 'green',
													title: '<i class="fas fa-check-circle" aria-hidden="true" style="color:#51D88A;"></i> ' + 'Success!!',
													content: 'Xóa thành công!!',
													buttons: {
														ok: function () {

														}
													}
												});
												table.ajax.reload();
											}
										},
										error: function (xhr, status, error) {
											showAlertByType('Something Wrong!', "F");
										}
									});
								},
								No: function () { }
							}
						});
					}
				});
			});
		</script>
	</div>
	<div layout:fragment="css"></div>