<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	th:replace="~{fragments/layout :: layout (~{::body},'doctors','Medical Record')}">

<body>
	<div class="row" style="margin-top: 50px">
		<div class="col">
			<h3 class="textShadowSm m-3 text-center">Bệnh nhân: [[${patient.fullname}]]</h3>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<ul class="list-group shadow">
				<li class="list-group-item bg-dark text-light">Thông tin bệnh nhân:</li>
				<li class="list-group-item"><strong>Email: </strong>[[${patient.email}]]</li>
				<li class="list-group-item"><strong>Tuổi: </strong>[[${patient.age}]]</li>
				<li class="list-group-item"><strong>Giới tính: </strong>[[${patient.gender}]]</li>
				<li class="list-group-item"><strong>Số điện thoại: </strong>[[${patient.mobile}]]</li>
			</ul>
		</div>

		<div class="col">
			<ul class="list-group mb-5 shadow">
				<li class="list-group-item bg-dark text-light">Khai báo:</li>
				<li class="list-group-item"><strong>Nhóm máu: [[${patient.declaration.blood}]]</strong></li>
				<li class="list-group-item"><strong>Bệnh nền: [[${patient.declaration.background}]]</strong></li>
				<li class="list-group-item"><strong>Thuốc: [[${patient.declaration.medicine}]]</strong></li>
				<li class="list-group-item"><strong>Triệu chứng: [[${patient.declaration.symptom}]]</strong></li>
				<li class="list-group-item"><strong>Khác: [[${patient.declaration.notes}]]</strong></li>
			</ul>
		</div>
	</div>
	<div class="row">
		<h5 class="textShadowSm m-3 text-center">Lịch sử khám bệnh</h5>
	</div>

	<div class="row">
		<div id="accordion" th:each="history : ${listHistory}">
			<div class="card">
				<div class="card-header" id="{'heading' + ${history.id}}">
					<h5 class="mb-0">
						<button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
							aria-expanded="true" aria-controls="collapseOne">
							[[${#temporals.format(history.startedAt, 'dd-MM-yyyy')}]]
						</button>
					</h5>
				</div>

				<div id="collapseOne" class="collapse" aria-labelledby="'heading' + ${history.id}"
					data-parent="#accordion">
					<div class="card-body">
						<h5 class="card-title">[[${history.diagnose}]]</h5>
						<p class="card-text"> [[${history.notes}]]</p>
						<p class="card-text">Thuốc: [[${history.medicine}]]</p>
						<p class="card-text">Bác sĩ: [[${history.doctor}]]</p>
						<p class="card-text">[[${history.advice}]]</p>
						<small class="text-muted">[[${#temporals.format(history.updatedAt, 'dd-MM-yyyy')}]]</small><br>
						<a th:href="@{'/dowload/' + ${history.result}}" class="btn btn-primary">Dowload
							[[${history.type}]]</a>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div class="row m-3">
		<button onclick="history.back()" class="btn btn-success">Quay lại</button>
	</div>

	<script>

	</script>
</body>

</html>