<!DOCTYPE html>
<html th:fragment="base (adminContent, pageTitle)" xmlns:th="http://www.w3.org/1999/html">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/img/iconlogo.jpg" rel="icon">
<title th:text="${pageTitle}">Page title</title>

<head>
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
	<link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
	<link rel="stylesheet" href="/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
	<link rel="stylesheet" href="/dist/css/adminlte.min.css">
	<link rel="stylesheet" href="/plugins/summernote/summernote-bs4.min.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.4/jquery-confirm.min.css">
	<div layout:fragment="css"></div>
</head>

<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
	<div class="wrapper">
		<!-- Navbar -->
		<nav class="main-header navbar navbar-expand navbar-white navbar-light">
			<!-- Left navbar links -->
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" data-widget="pushmenu" href="#" role="button"><i
							class="fas fa-bars"></i></a></li>
			</ul>

			<!-- Right navbar links -->
			<ul class="navbar-nav ml-auto">
				<!-- Navbar Search -->
				<li class="nav-item">
					<div class="navbar-search-block">
						<form class="form-inline">
							<div class="input-group input-group-sm"></div>
						</form>
					</div>
				</li>

				<li class="nav-item"><a class="nav-link" data-widget="fullscreen" href="#" role="button"> <i
							class="fas fa-expand-arrows-alt"></i>
					</a></li>
				<!-- Notifications Dropdown Menu -->
				<li class="nav-item dropdown"><a class="nav-link" data-toggle="dropdown" href="#"> <i
							class="fas fa-user"></i>

					</a>
					<div class="dropdown-menu dropdown-menu-lg dropdown-menu-right" style="min-width: 160px;">

						<div class="dropdown-divider"></div>

						<span sec:authorize="isAuthenticated()">
							<a th:href="@{/admin/profile}" class="dropdown-item"> <i class="fas fa-envelope mr-2"></i>
								Profile
							</a>
						</span>
						<div class="dropdown-divider"></div>


						<span sec:authorize="isAuthenticated()">
							<a th:href="@{/logout}" class="dropdown-item"> <i class="fas fa-file mr-2"></i>
								LogOut
							</a></span>
					</div>
				</li>

			</ul>
		</nav>
		<!-- /.navbar -->

		<!-- Main Sidebar Container -->
		<aside class="main-sidebar sidebar-dark-primary elevation-4">
			<!-- Brand Logo -->
			<a th:href="@{/admin/home}" class="brand-link"> <span class="brand-text font-weight-light"><b>Easy Doctor</b></span>
			</a>

			<!-- Sidebar -->
			<div class="sidebar">
				<!-- Sidebar user panel (optional) -->
				<div class="user-panel mt-3 pb-3 mb-3 d-flex">
					<div class="image"></div>
					<div class="info"></div>
				</div>

				<!-- SidebarSearch Form -->
				<div class="form-inline">
					<div class="input-group">

						<div class="input-group-append"></div>
					</div>
				</div>

				<!-- Sidebar Menu -->
				<nav class="mt-2">
					<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
						data-accordion="false">
						<!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
						<li class="nav-item menu-open">
							<ul class="nav nav-treeview">
								<li class="nav-item"><a id="nav-linkDashboard" th:href="@{/admin/home}"
										class="nav-link"> <i class="far fa fa-home nav-icon"></i>
										<p>Dashboard</p>
									</a></li>
							</ul>
						</li>


						<li class="nav-item" id="doctorId"><a href="javascript:void(0);" class="nav-link"> <i
									class="nav-icon fa fa-user-md"></i>
								<p>
									Doctor <i class="fas fa-angle-left right"></i>
								</p>
							</a>
							<ul class="nav nav-treeview">
								<li class="nav-item"><a th:href="@{/admin/doctor}" class="nav-link" id="nav-addDoctor">
										<i class="far fa-circle nav-icon"></i>
										<p>Add Doctor</p>
									</a></li>
								<li class="nav-item"><a th:href="@{/admin/doctor-details}" class="nav-link"
										id="nav-doctorDetails"> <i class="far fa-circle nav-icon"></i>
										<p>Doctor Details</p>
									</a></li>
							</ul>
						</li>


						<li class="nav-item" id="bookingId"><a href="javascript:void(0);" class="nav-link"> <i
									class="nav-icon fa fa-users"></i>
								<p>
									Patient <i class="fas fa-angle-left right"></i>
								</p>
							</a>
							<ul class="nav nav-treeview">
								<li class="nav-item"><a th:href="@{/admin/viewAmbBooking}" class="nav-link"
										id="nav-viewAmbBooking"> <i
											class="far fa-prescription-bottle-medical nav-icon"></i>
										<p>Prescription</p>
									</a></li>
								<li class="nav-item"><a th:href="@{/admin/viewBloodBooking}" class="nav-link"
										id="nav-viewBloodBooking"> <i class="far fa-circle nav-icon"></i>
										<p>xBlood</p>
									</a></li>
							</ul>
						</li>

						<li class="nav-item" id="nav-doctAppoint"><a href="javascript:void(0);" class="nav-link"> <i
									class="nav-icon fa fa-calendar"></i>
								<p>
									Doctor Appoinment <i class="fas fa-angle-left right"></i>
								</p>
							</a>
							<ul class="nav nav-treeview">
								<li class="nav-item"><a th:href="@{/admin/viewApp}" class="nav-link"
										id="nav-viewAppoinment"> <i class="far fa-circle nav-icon"></i>
										<p>View Appoinment</p>
									</a></li>

							</ul>
						</li>
						<li class="nav-item" id="nav-userId"><a href="javascript:void(0);" class="nav-link"> <i
									class="nav-icon fa fa fa-suitcase"></i>
								<p>
									Clinic <i class="fas fa-angle-left right"></i>
								</p>
							</a>
							<ul class="nav nav-treeview">
								<li class="nav-item"><a th:href="@{/admin/viewUser}" class="nav-link" id="nav-viewUser">
										<i class="far fa-circle nav-icon"></i>
										<p>Add Clinic</p>
									</a>
								</li>
								<li class="nav-item"><a th:href="@{/admin/viewUser}" class="nav-link" id="nav-viewUser">
										<i class="far fa-circle nav-icon"></i>
										<p>Add Examination Package</p>
									</a>
								</li>
							</ul>
						</li>
						<li class="nav-item" id="nav-itemBlog"><a href="javascript:void(0);" class="nav-link"> <i
									class="nav-icon fas fa-table"></i>
								<p>
									Forum <i class="fas fa-angle-left right"></i>
								</p>
							</a>
							<ul class="nav nav-treeview">
								<li class="nav-item"><a id="nav-linkAddPost" th:href="@{/admin/blog-post}"
										class="nav-link"> <i class="far fa-circle nav-icon"></i>
										<p>Add Post</p>
									</a></li>
							</ul>
						</li>

						<li class="nav-item" id="messageId"><a href="javascript:void(0);" class="nav-link"> <i
									class="nav-icon fa fa-comments"></i>
								<p>
									Message <i class="fas fa-angle-left right"></i>
								</p>
							</a>
							<ul class="nav nav-treeview">
								<li class="nav-item"><a th:href="@{/admin/pMsg}" class="nav-link" id="nav-viewMessage">
										<i class="far fa-circle nav-icon"></i>
										<p>View Message</p>
									</a></li>

							</ul>
						</li>

						<li class="nav-item" id="nav-itemContact"><a href="javascript:void(0);" class="nav-link"> <i
									class="nav-icon fa fa-credit-card"></i>
								<p>
									Payment <i class="fas fa-angle-left right"></i>
								</p>
							</a>
							<ul class="nav nav-treeview">
								<li class="nav-item"><a th:href="@{/admin/contact}" class="nav-link"
										id="nav-linkViewContact"> <i class="far fa-circle nav-icon"></i>
										<p>History</p>
									</a></li>
							</ul>
						</li>
						<li class="nav-item" id="sager"><a href="javascript:void(0);" class="nav-link"> <i
									class="nav-icon far fa-plus-square"></i>
								<p>
									GENERIC <i class="fas fa-angle-left right"></i>
								</p>
							</a>
							<ul class="nav nav-treeview">
								<li class="nav-item"><a th:href="@{/admin/amb-setup}" class="nav-link"
										id="nav-linkUniId"> <i class="far fa-circle nav-icon"></i>
										<p>Ambulance Setup</p>
									</a></li>
								<li class="nav-item"><a th:href="@{/admin/blood-setup}" class="nav-link" id="nav-blood">
										<i class="far fa-circle nav-icon"></i>
										<p>Blood Setup</p>
									</a></li>
								<li class="nav-item"><a th:href="@{/admin/disease-setup}" class="nav-link"
										id="nav-disease"> <i class="far fa-circle nav-icon"></i>
										<p>Disease Setup</p>
									</a></li>

								<li class="nav-item"><a th:href="@{/admin/diagnostic-setup}" class="nav-link"
										id="nav-diagnostic"> <i class="far fa-circle nav-icon"></i>
										<p>Diagnostic Center</p>
									</a></li>
							</ul>
						</li>


						<li class="nav-item" id="nav-AccountId"><a href="javascript:void(0);" class="nav-link"> <i
									class="nav-icon fa fa fa-suitcase"></i>
								<p>
									Account Details <i class="fas fa-angle-left right"></i>
								</p>
							</a>
							<ul class="nav nav-treeview">
								<li class="nav-item"><a th:href="@{/admin/accDetails}" class="nav-link"
										id="nav-viewAccountDetails"> <i class="far fa-circle nav-icon"></i>
										<p>View Account</p>
									</a></li>
							</ul>
						</li>



						<li class="nav-item" id="nav-GenReport"><a href="javascript:void(0);" class="nav-link"> <i
									class="nav-icon fa fa-file-pdf"></i>
								<p>
									Generate Report <i class="fas fa-angle-left right"></i>
								</p>
							</a>
							<ul class="nav nav-treeview">
								<li class="nav-item"><a th:href="@{/admin/empReport}" class="nav-link" id="nav-Report">
										<i class="far fa-circle nav-icon"></i>
										<p>Report</p>
									</a></li>

								<li class="nav-item"><a th:href="@{/admin/accountReport}" class="nav-link"
										id="nav-account"> <i class="far fa-circle nav-icon"></i>
										<p>Account Report</p>
									</a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>
		</aside>

		<div class="content-wrapper">
			<section class="content">
				<th:block th:include="${adminContent}" />
			</section>
		</div>
        
    </div>
		<footer class="main-footer" style="font-size: 12px;">
			<p>EasyDoctor v<span th:text="${currentVersion}">1.0</span></p>
			<!--<strong>Copyright &copy; 2020 <a href="">EasyDoctor</a>.
			</strong> All rights reserved.
			<div class="float-right d-none d-sm-inline-block">
				<b>Version 1.1.1</b>
			</div>-->
		</footer>
	</div>
	<!-- ./wrapper -->
	<script src="/plugins/jquery/jquery.min.js"></script>
	<script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
	<script src="/dist/js/adminlte.js"></script>
	<script src="/plugins/jquery-mousewheel/jquery.mousewheel.js"></script>
	<script src="/plugins/raphael/raphael.min.js"></script>
	<script src="/plugins/jquery-mapael/jquery.mapael.min.js"></script>
	<script src="/plugins/jquery-mapael/maps/usa_states.min.js"></script>
	<script src="/plugins/chart.js/Chart.min.js"></script>
	<script src="/dist/js/pages/dashboard2.js"></script>
	<script src="/plugins/toastr/toastr.min.js"></script>
	<script src="/js/custom.js"></script>
	<script src="/plugins/summernote/summernote-bs4.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.4/jquery-confirm.min.js"
		integrity="sha512-zP5W8791v1A6FToy+viyoyUUyjCzx+4K8XZCKzW28AnCoepPNIXecxh9mvGuy3Rt78OzEsU+VCvcObwAMvBAww=="
		crossorigin="anonymous"></script>

	<div layout:fragment="script"></div>
</body>

</html>