<!DOCTYPE html>
<html th:fragment="layout (content, activeLink, pageTitle)" xmlns:th="http://www.w3.org/1999/html">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title th:text="${pageTitle}">Page title</title>
	<link href="/img/iconlogo.jpg" rel="icon">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
	<!-- Appointment Chat CSS -->
	<link rel="stylesheet" th:href="@{/css/vendor/chat.css}" />
	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
	<!-- Fullcalendar CSS -->
	<link rel="stylesheet" th:href="@{/css/vendor/fullcalendar.css}" />
	<!-- Site CSS -->
	<link rel="stylesheet" th:href="@{/css/style.css}" />
	<!--DataTables CSS-->
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

	<link rel="stylesheet" th:href="@{/css/vendor/bootstrap-notifications.css}" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.4/jquery-confirm.min.css">

	<!--font awesome-->
	<script src="https://kit.fontawesome.com/56438f342e.js"></script>

	<!--jQuery-->
	<script src="/webjars/jquery/3.3.1-2/jquery.min.js"></script>
	<!-- Bootstrap core JavaScript -->
	<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<!--Moment-->
	<script type="text/javascript" th:src="@{/js/vendor/moment.js}"></script>
	<script type="text/javascript" th:src="@{/js/main.js}"></script>
	<!--FullCalendar-->
	<script type="text/javascript" th:src="@{/js/vendor/fullcalendar.js}"></script>
	<!--DataTables-->
	<script type="text/javascript" charset="utf8"
		src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-137823705-3"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.4/jquery-confirm.min.js"
		integrity="sha512-zP5W8791v1A6FToy+viyoyUUyjCzx+4K8XZCKzW28AnCoepPNIXecxh9mvGuy3Rt78OzEsU+VCvcObwAMvBAww=="
		crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() {dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-137823705-3');
	</script>

</head>

<body>

	<!-- Navigation -->
	<div sec:authorize="isAuthenticated()">
		<nav class="navbar navbar-expand-lg navbar-light static-top" style="background-color: #b2dded; padding: 0px !important;">
			<div class="container">
				<a class="navbar-brand-cus" href="/"><img src="/img/gallery/logo.png" width="118" alt="logo" /></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
					aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<th:block sec:authorize="hasRole('ROLE_PATIENT')">
					<!-- menu for patient-->
					<div th:replace="fragments/patient-nav.html :: navlinks(${activeLink})"></div>
				</th:block>

				<th:block sec:authorize="hasRole('ROLE_DOCTOR')">
					<!-- menu for docter-->
					<div th:replace="fragments/doctor-nav.html :: navlinks(${activeLink})"></div>
				</th:block>

				<th:block sec:authorize="hasRole('ROLE_ADMIN')">
					<!-- menu for admin-->
					<div th:replace="fragments/admin-nav.html :: navlinks(${activeLink})"></div>
				</th:block>
				<!--notifications-->

				<!--notifications-->
				<div class="collapse navbar-collapse">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item dropdown dropdown-notifications open">
							<a th:href="@{/notifications}" class="nav-link dropdown-toggle">
								<i id="notifications-count" data-count="2" class="fas fa-bell"
									aria-label="Nofitication centre"></i>
							</a>
						</li>
						<li>
							<p class="navbar-nav ml-auto navbar-text" style="color: #283779 !important;font-weight: 600;"> Xin chào:
								<span th:text="${#authentication.getPrincipal().getUsername()}"
									id="user_name">username</span> 
								<input type="hidden" th:value="${#authentication.getPrincipal().getId()}" id="user_id">
							</p>
						</li>
						<li>
							<a class="btn btn-sm btn-outline rounded-pill order-1 order-lg-0 mr-5"  th:href="@{/perform_logout}">Đăng xuất</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</div>

	<!-- Page Content -->
	<div class="container" style="min-height: 600px;">
		<th:block th:include="${content}" />
	</div>

	<div style="background-color: #b2dded; margin-top: 50px;">
		<div class="container">
			<div class="row py-8">
				<div class="col-12 col-sm-12 col-lg-6 mb-4 order-0 order-sm-0"><a class="text-decoration-none"
						href="#"><img src="/img/gallery/logo.png" height="150" alt=""
							style="margin-bottom: 10px;" /></a>
					<p class="text-light my-4"><strong>CÔNG TY TNHH MTV EASYDOCTOR</strong></p>
					<p class="text-light my-4"><strong>Địa chỉ:</strong> Lô 11 Khuê Mỹ Đông 7, phường Khuê Mỹ, quận Ngũ
						Hành Sơn, thành phố Đà Nẵng </p>
					<p class="text-light my-4"><strong>Số điện thoại:</strong> 0334947474</p>
					<p class="text-light my-4"><strong>Email:</strong> easydoctor01@gmail.com</p>
				</div>
				<div class="col-6 col-sm-4 col-lg-2 mb-3 order-2 order-sm-1">
					<h5 class="lh-lg fw-bold mb-4 text-light font-sans-serif">Các chuyên khoa</h5>
					<ul class="list-unstyled mb-md-4 mb-lg-0">
						<li class="lh-lg"><a class="footer-link" href="#!">Khoa Ngoại Thần Kinh</a></li>
						<li class="lh-lg"><a class="footer-link" href="#!">Khoa Mắt</a></li>
						<li class="lh-lg"><a class="footer-link" href="#!">Khoa Nội</a></li>
						<li class="lh-lg"><a class="footer-link" href="#!">Khoa Tim Mạch</a></li>
						<li class="lh-lg"><a class="footer-link" href="#!">Khoa Xương Khớp</a></li>
						<li class="lh-lg"><a class="footer-link" href="#!">Khoa Tai Mũi Họng</a></li>
					</ul>
				</div>
				<div class="col-6 col-sm-4 col-lg-2 mb-3 order-3 order-sm-2">
					<h5 class="lh-lg fw-bold text-light mb-4 font-sans-serif">Tìm hiểu thêm</h5>
					<ul class="list-unstyled mb-md-4 mb-lg-0">
						<li class="lh-lg"><a class="footer-link" href="#news">Cẩm nang y tế</a></li>
						<li class="lh-lg"><a class="footer-link" href="#review">Đánh giá</a></li>
						<li class="lh-lg"><a class="footer-link" href="#doctor">Bác sĩ nổi bật</a></li>
					</ul>
				</div>
				<div class="col-6 col-sm-4 col-lg-2 mb-3 order-3 order-sm-2" style="padding-left: 0px;">
					<h5 class="lh-lg fw-bold text-light mb-4 font-sans-serif"> Dịch Vụ</h5>
					<ul class="list-unstyled mb-md-4 mb-lg-0">
						<li class="lh-lg"><a class="footer-link" href="#about">Thông tin của chúng tôi</a></li>
						<li class="lh-lg"><a class="footer-link" href="#ask">Tư vấn và hỏi đáp</a></li>
					</ul>
				</div>
			</div>

			<div class="row align-items-center justify-content-center" style="margin-top: 10px">
				<p>EasyDoctor v<span th:text="${currentVersion}">1.0</span></p>
			</div>

		</div>
	</div>

	<script th:inline="javascript">
		function fetchdata() {
			$.ajax({
				url: '/api/user/notifications',
				type: 'get',
				success: function (data) {
					var elemennt = document.getElementById("notifications-count");
					if (data > 0) {
						elemennt.setAttribute("data-count", data);
						elemennt.className = "fas fa-bell notification-icon";
					} else {
						elemennt.setAttribute("data-count", 0);
						elemennt.className = "fas fa-bell";
					}
				},
				complete: function (data) {
					setTimeout(fetchdata, 5000);
				}
			});
		}

		$(document).ready(function () {
			fetchdata();
			setTimeout(fetchdata, 5000);
		});
	</script>

</body>

</html>