<th:block th:fragment="navlinks(activeLink)">
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item " th:classappend="${activeLink} == 'doctor' ? 'active':''">
                <a class="nav-link" th:href="@{/doctors/all}">Doctors</a>
            </li>
            <li class="nav-item" th:classappend="${activeLink} == 'appointments' ? 'active':''">
                <a class="nav-link">Appointments</a>
            </li>
            <li class="nav-item" th:classappend="${activeLink} == 'account' ? 'active':''">
                <a class="nav-link">My account</a>
            </li>
        </ul>
    </div>
</th:block>
