<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Quên mật khẩu EasyDoctor</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/my-login.css">
	<link href="/img/iconlogo.jpg" rel="icon">
</head>

<body class="my-login-page">
	<section class="h-90">
		<div class="container h-100">
			<div class="row justify-content-md-center h-90">
				<div class="card-wrapper">
					<div class="brand">
						<img src="/img/logo.jpg" alt="logo">
					</div>
					<div class="card fat">
						<div class="card-body">
							<h4 class="card-title text-center">
								Quên mật khẩu
							</h4>
							<form th:action="@{/forgot}" method="POST" th:object="${user}" class="my-login-validation" id="basic-form">
								<div th:if="${confirmationMessage}" class="alert alert-success" role="alert"
									th:text=${confirmationMessage}></div>
								<div th:if="${alreadyRegisteredMessage}" class="alert alert-danger" role="alert"
									th:text="${alreadyRegisteredMessage}"></div>

								<div class="form-group">
									<label for="email">Email</label>
									<input id="email" type="email" class="form-control" th:field="*{email}">
								</div>

								<div class="form-group m-0">
									<button type="submit" class="btn btn-primary btn-block">
										Xác nhận
									</button>
								</div>
							</form>
						</div>
					</div>
					<div class="footer">
						<p>EasyDoctor v<span th:text="${currentVersion}">1.0</span></p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--preloader-->
	<div id="spinner-wrapper">
		<div class="spinner"></div>
	</div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<script>
	$(document).ready(function () {
		$("#basic-form").validate({
			rules: {
				email: {
					required: true,
					email: true
				}
			},
			messages: {
				email: {
					required: "Không được để trống",
					email: "Email phải đúng định dạng: abc@gmail.com"
				}
			}
		});
	});
	var preloader = $('#spinner-wrapper');
	$(window).on('load', function () {
		var preloaderFadeOutTime = 500;

		function hidePreloader() {
			preloader.fadeOut(preloaderFadeOutTime);
		}
		hidePreloader();
	});

</script>
</html>