<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Đăng nhập EasyDoctor</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/my-login.css">
	<link href="/img/iconlogo.jpg" rel="icon">
</head>

<body class="my-login-page">
	<section class="h-90">
		<div class="container h-100">
			<div class="row justify-content-md-center h-90">
				<div class="card-wrapper">
					<div class="brand">
						<img src="/img/logo.jpg" alt="logo">
					</div>
					<div class="card fat">
						<div class="card-body">
							<h4 class="card-title text-center">Đăng nhập</h4>
							<form th:action="@{/perform_login}" method="POST" class="my-login-validation" id="basic-form">
								<div th:if="${param.error != null}" class="alert alert-danger">
									Username hoặc mật khẩu không đúng
								</div>
								<div th:if="${createdUserName != null}" class="alert alert-success">
									<p>Đăng ký <span th:text="${createdUserName}"></span> thành công!</p>
								</div>
								<div th:if="${param.logout != null}" class="alert alert-success">
									<p>Đăng xuất thành công</p>
								</div>
								<div th:if="${successMessage != null}" class="alert alert-success" role="alert"
									th:text=${successMessage}></div>

								<div th:if="${errorMessage != null}" class="alert alert-danger" role="alert"
									th:text=${errorMessage}></div>

								<div class="form-group">
									<label for="username">Username</label>
									<input id="username" type="text" class="form-control" name="username">
								</div>

								<div class="form-group">
									<label for="password">Mật khẩu</label>
									<input id="password" type="password" class="form-control" name="password">
									<a th:href="@{/forgot}" class="float-right">
										Quên mật khẩu?
									</a>
								</div>

								<div class="form-group">
									<div class="custom-checkbox custom-control">
										<input type="checkbox" name="remember" id="remember"
											class="custom-control-input">
										<label for="remember" class="custom-control-label">Remember Me</label>
									</div>
								</div>

								<div class="form-group m-0">
									<input type="submit" value="Đăng nhập" class="btn btn-primary btn-block">
								</div>
								<div class="mt-4 text-center">
									Bạn đã có tài khoản chưa? <a th:href="@{/register}">Tạo mới</a>
								</div>
							</form>
						</div>
					</div>
					<div class="footer">
						<p>EasyDoctor v<span th:text="${currentVersion}">1.0</span></p>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<!--preloader-->
	<div id="spinner-wrapper">
		<div class="spinner"></div>
	</div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<script>
	$(document).ready(function () {
		$("#basic-form").validate({
			rules: {
				username: {
					required: true,
					minlength: 6
				},
				password: {
					required: true,
					minlength: 6
				}
			},
			messages: {
				username: {
					required: "Không được để trống",
					minlength: "Username phải chứa ít nhất 6 ký tự"
				},
				password: {
					required: "Không được để trống",
					minlength: "Mật khẩu phải chứa ít nhất 6 ký tự"
				}
			}
		});
	});
	var preloader = $('#spinner-wrapper');
	$(window).on('load', function () {
		var preloaderFadeOutTime = 500;

		function hidePreloader() {
			preloader.fadeOut(preloaderFadeOutTime);
		}
		hidePreloader();
	});

</script>
</html>