<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'account','My account')}"
	xmlns:sec="http://www.w3.org/1999/xhtml">

<body>
	<div class="row p-3">
		<div class="col-sm-3">
			<!--left col-->
			<div class="text-center">
				<img th:src="@{${user.profileImage != ''}  ? ${user.ProfileImagePath} : 'http://ssl.gstatic.com/accounts/ui/avatar_2x.png'}"
					class="avatar img-circle img-thumbnail" alt="avatar" id="avatar">
				<form id="uploadForm">
					<input id="profileImage" name="profileImage" type="file" accept="image/png, image/jpeg" />
				</form>
				<p class="text-center">
				<div id="successImage">file is too large</div>
				<img src="/img/loader.gif" alt="loader" style="width: 150px;height: 120px;" id="loader">
				</p>
			</div>

			</hr><br>

			<div class="card text-center">
				<div class="card-header">
					Appointments
				</div>
				<div class="card-body p-0">
					<ul class="list-group">
						<li class="list-group-item d-flex justify-content-between align-items-center">
							Scheduled
							<span class="badge badge-primary badge-pill"
								th:text="${numberOfScheduledAppointments}">2</span>
						</li>
						<li class="list-group-item d-flex justify-content-between align-items-center">
							Canceled this month
							<span class="badge badge-danger badge-pill"
								th:text="${numberOfCanceledAppointments}">1</span>
						</li>
					</ul>
				</div>
			</div>

		</div>
		<!--/col-3-->
		<div class="col-sm-9">
			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<li class="nav-item">
					<a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
						aria-controls="profile" aria-selected="true">Profile</a>
				</li>
				<li sec:authorize="hasRole('ROLE_DOCTOR') or hasRole('ROLE_PATIENT')" class="nav-item">
					<a class="nav-link" id="newPassword-tab" data-toggle="tab" href="#newPassword" role="tab"
						aria-controls="newPassword" aria-selected="false">Password</a>
				</li>
				<li sec:authorize="hasRole('ROLE_PATIENT')" class="nav-item">
					<a class="nav-link" id="pathological-tab" data-toggle="tab" href="#pathological" role="tab"
						aria-controls="pathological" aria-selected="false">Pathological</a>
				</li>
				<li sec:authorize="hasRole('ROLE_PATIENT') or hasRole('ROLE_DOCTOR')" class="nav-item">
					<a class="nav-link" id="payment-tab" data-toggle="tab" href="#payment" role="tab"
						aria-controls="payment" aria-selected="false">Payment</a>
				</li>

			</ul>


			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade show active pt-3" id="profile" role="tabpanel" aria-labelledby="profile-tab">
					<form th:action="@{${formActionProfile}}" th:object="${user}" method="POST">

						<input type="hidden" class="form-control" th:field="*{id}">

						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="userName">Username</label>
								<input type="text" class="form-control"
									th:classappend="${#fields.hasErrors('userName') ? 'is-invalid' :''}"
									th:field="*{userName}" readonly>
								<div th:if="${#fields.hasErrors('userName')}" class="invalid-feedback">
									<p th:errors="*{userName}"></p>
								</div>
							</div>
							<div class="form-group col-md-6">
								<label for="email">Email</label>
								<input type="text" class="form-control"
									th:classappend="${#fields.hasErrors('email') ? 'is-invalid' :''}"
									th:field="*{email}" readonly>
								<div th:if="${#fields.hasErrors('email')}" class="invalid-feedback">
									<p th:errors="*{email}"></p>
								</div>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="startPracticeDate">Fullname</label>
								<input type="text" class="form-control"
									th:classappend="${#fields.hasErrors('fullname') ? 'is-invalid' :''}"
									th:field="*{fullname}">
								<div th:if="${#fields.hasErrors('fullname')}" class="invalid-feedback">
									<p th:errors="*{fullname}"></p>
								</div>
							</div>
							<div class="form-group col-md-6">
								<label for="gender">Gender</label><br>
								<div class="form-check form-check-inline">
									<input name="gender" type="radio"  th:value="MALE" class="form-check-input" id="radio1"
										th:field="*{gender}" />
									<label class="form-chek-label" for="radio1">Male</label>
								</div>
								<div class="form-check form-check-inline">
									<input name="gender" type="radio" th:value="FEMALE" class="form-check-input"
										id="radio2" th:field="*{gender}" /> <label class="form-chek-label"
										for="radio2">Female</label>
								</div>
							</div>
						</div>

						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="mobile">Mobile</label>
								<input type="text" class="form-control"
									th:classappend="${#fields.hasErrors('mobile') ? 'is-invalid' :''}"
									th:field="*{mobile}">
								<div th:if="${#fields.hasErrors('mobile')}" class="invalid-feedback">
									<p th:errors="*{mobile}"></p>
								</div>
							</div>
							<div class="form-group col-md-6">
								<label for="age">Age</label>
								<input type="text" class="form-control"
									th:classappend="${#fields.hasErrors('age') ? 'is-invalid' :''}" th:field="*{age}">
								<div th:if="${#fields.hasErrors('age')}" class="invalid-feedback">
									<p th:errors="*{age}"></p>
								</div>
							</div>
						</div>

						<th:block th:if="${account_type =='doctors'}">
							<div class="form-row">
								<div class="form-group col-md-6">
									<label for="specialty">Specialty</label>
									<input type="text" class="form-control"
										th:classappend="${#fields.hasErrors('specialty.name') ? 'is-invalid' :''}"
										th:field="*{specialty.name}" readonly>
									<div th:if="${#fields.hasErrors('specialty.name')}" class="invalid-feedback">
										<p th:errors="*{specialty.name}"></p>
									</div>
								</div>
								<div class="form-group col-md-6">
									<label for="startPracticeDate">Start Practice Date</label>
									<input type="date" class="form-control"
										th:classappend="${#fields.hasErrors('startPracticeDate') ? 'is-invalid' :''}"
										th:field="*{startPracticeDate}">
									<div th:if="${#fields.hasErrors('startPracticeDate')}" class="invalid-feedback">
										<p th:errors="*{startPracticeDate}"></p>
									</div>
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-6">
									<label for="clinic.name">Clinic</label>
									<input type="text" class="form-control"
										th:classappend="${#fields.hasErrors('clinic.name') ? 'is-invalid' :''}"
										th:field="*{clinic.name}" readonly>
									<div th:if="${#fields.hasErrors('clinic.name')}" class="invalid-feedback">
										<p th:errors="*{clinic.name}"></p>
									</div>
								</div>
								<div class="form-group col-md-6">
									<label for="startPracticeDate">Description</label>
									<input type="text" class="form-control"
										th:classappend="${#fields.hasErrors('description') ? 'is-invalid' :''}"
										th:field="*{description}">
									<div th:if="${#fields.hasErrors('description')}" class="invalid-feedback">
										<p th:errors="*{description}"></p>
									</div>
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-6">
									<label for="clinic.name">Certification</label>
									<input type="text" class="form-control"
										th:classappend="${#fields.hasErrors('certification') ? 'is-invalid' :''}"
										th:field="*{certification}">
									<div th:if="${#fields.hasErrors('certification')}" class="invalid-feedback">
										<p th:errors="*{certification}"></p>
									</div>
								</div>
								<div class="form-group col-md-6">
									<label>Packages</label><br>
									<ul>
										<li th:each="packages : ${allPackages}">
											<input type="checkbox" th:field="*{packages}" th:value="${packages.id}" />
											<label th:for="${#ids.prev('packages')}" th:text="${packages.name}">Name</label>
										</li>
									</ul>
								</div>
							</div>
						</th:block>

						<th:block th:if="${account_type =='patients'}">
							<div class="form-row">
								<!--<div class="form-group col-md-6">
									<label for="mobile">Other</label>
									<input type="text" class="form-control"
										th:classappend="${#fields.hasErrors('mobile') ? 'is-invalid' :''}"
										th:field="*{mobile}">
									<div th:if="${#fields.hasErrors('mobile')}" class="invalid-feedback">
										<p th:errors="*{mobile}"></p>
									</div>
								</div>-->
								<div class="form-group col-md-6">
									<label for="address">Address</label>
									<input type="text" class="form-control"
										th:classappend="${#fields.hasErrors('address') ? 'is-invalid' :''}"
										th:field="*{address}">
									<div th:if="${#fields.hasErrors('address')}" class="invalid-feedback">
										<p th:errors="*{address}"></p>
									</div>
								</div>
							</div>
						</th:block>

						<button type="submit" class="btn btn-primary">Save</button>
					</form>
				</div>

				<div class="tab-pane fade pt-3" id="newPassword" role="tabpanel" aria-labelledby="newPassword-tab">
					<form th:action="@{${formActionPassword}}" th:object="${passwordChange}" method="POST">
						<input type="hidden" th:field="*{id}">
						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="currentPassword">Current password</label>
								<input type="password" class="form-control"
									th:classappend="${#fields.hasErrors('currentPassword') ? 'is-invalid' :''}"
									th:value="*{currentPassword}" readonly>
								<div th:if="${#fields.hasErrors('currentPassword')}" class="invalid-feedback">
									<p th:errors="*{currentPassword}"></p>
								</div>
							</div>
						</div>

						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="password">New password</label>
								<input type="password" class="form-control"
									th:classappend="${#fields.hasErrors('password') ? 'is-invalid' :''}"
									th:field="*{password}">
								<div th:if="${#fields.hasErrors('password')}" class="invalid-feedback">
									<p th:errors="*{password}"></p>
								</div>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="matchingPassword">Repeat new password</label>
								<input type="password" class="form-control"
									th:classappend="${#fields.hasErrors('matchingPassword') ? 'is-invalid' :''}"
									th:field="*{matchingPassword}">
								<div th:if="${#fields.hasErrors('matchingPassword')}" class="invalid-feedback">
									<p th:errors="*{matchingPassword}"></p>
								</div>
							</div>
						</div>
						<button type="submit" class="btn btn-primary">Save</button>
					</form>
				</div>

				<div class="tab-pane fade pt-3" id="pathological" role="tabpanel" aria-labelledby="pathological-tab">
					<form method="POST">

						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="">Bạn có tiền sử bệnh án nào không ?</label>
							</div>
							<div class="form-group col-md-6">
								<label for="">Bạn có đang dùng thuốc nào không ?</label>
							</div>
							<div class="form-group col-md-6">
								<label for="">Bạn có bị dị ứng không ?</label>
							</div>
							<div class="form-group col-md-6">
								<label for="">Các vấn đề khác ?</label>
							</div>
						</div>
						<button type="submit" class="btn btn-primary">Add Info</button>
					</form>
				</div>

				<div class="tab-pane fade pt-3" id="payment" role="tabpanel" aria-labelledby="payment-tab">
					<form method="POST">

						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="currentPassword">Payment banking</label>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="currentPassword">VNPay Online</label>
							</div>
						</div>
						<button type="submit" class="btn btn-primary">Set</button>
					</form>
				</div>

			</div>
		</div>


	</div>
</body>

</html>