<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body},'account','Tài khoản của tôi')}"
	xmlns:sec="http://www.w3.org/1999/xhtml">

<body>
	<div class="row p-3">
		<div class="col-sm-3">
			<!--left col-->
			<div class="text-center">
				<img th:src="@{${user.profileImage}}" class="avatar img-circle img-thumbnail" alt="avatar" id="avatar">
				<form id="uploadForm" method="post" enctpye="multipart/form-data">
					<input id="profileImage" name="profileImage" type="file" accept="image/png, image/jpeg" />
				</form>
				<p class="text-center">
				<div id="successImage">File quá lớn.</div>
				<img src="/img/loader.gif" alt="loader" style="width: 150px;height: 120px;" id="loader">
				</p>
			</div>
			</hr><br>

			<div class="card text-center">
				<div class="card-header">
					Cuộc hẹn khám bệnh
				</div>
				<div class="card-body p-0">
					<ul class="list-group">
						<li class="list-group-item d-flex justify-content-between align-items-center">
							Đã lên lịch
							<span class="badge badge-primary badge-pill" th:text="${numberScheduled}">2</span>
						</li>
						<li class="list-group-item d-flex justify-content-between align-items-center">
							Hủy trong tháng
							<span class="badge badge-danger badge-pill" th:text="${numberCanceled}">1</span>
						</li>
					</ul>
				</div>
			</div>

		</div>
		<!--/col-3-->
		<div class="col-sm-9">
			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<li class="nav-item">
					<a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
						aria-controls="profile" aria-selected="true">Thông tin cá nhân</a>
				</li>
				<li sec:authorize="hasRole('ROLE_DOCTOR') or hasRole('ROLE_PATIENT')" class="nav-item">
					<a class="nav-link" id="newPassword-tab" data-toggle="tab" href="#newPassword" role="tab"
						aria-controls="newPassword" aria-selected="false">Mật khẩu</a>
				</li>
				<li sec:authorize="hasRole('ROLE_PATIENT')" class="nav-item">
					<a class="nav-link" id="declaration-tab" data-toggle="tab" href="#declaration" role="tab"
						aria-controls="declaration" aria-selected="false">Thông tin khai báo</a>
				</li>
				<li sec:authorize="hasRole('ROLE_PATIENT') or hasRole('ROLE_DOCTOR')" class="nav-item">
					<a class="nav-link" id="payment-tab" data-toggle="tab" href="#payment" role="tab"
						aria-controls="payment" aria-selected="false">Payment</a>
				</li>
			</ul>


			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade show active pt-3" id="profile" role="tabpanel" aria-labelledby="profile-tab">
					<form th:action="@{${formActionProfile}}" th:object="${user}" method="POST">
						<input type="hidden" class="form-control" th:field="*{id}">

						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="userName">Username</label>
								<input type="text" class="form-control"
									th:classappend="${#fields.hasErrors('userName') ? 'is-invalid' :''}"
									th:field="*{userName}" readonly>
								<div th:if="${#fields.hasErrors('userName')}" class="invalid-feedback">
									<p th:errors="*{userName}"></p>
								</div>
							</div>
							<div class="form-group col-md-6">
								<label for="email">Email</label>
								<input type="text" class="form-control"
									th:classappend="${#fields.hasErrors('email') ? 'is-invalid' :''}"
									th:field="*{email}" readonly>
								<div th:if="${#fields.hasErrors('email')}" class="invalid-feedback">
									<p th:errors="*{email}"></p>
								</div>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="startPracticeDate">Tên đầy đủ</label>
								<input type="text" class="form-control"
									th:classappend="${#fields.hasErrors('fullname') ? 'is-invalid' :''}"
									th:field="*{fullname}">
								<div th:if="${#fields.hasErrors('fullname')}" class="invalid-feedback">
									<p th:errors="*{fullname}"></p>
								</div>
							</div>
							<div class="form-group col-md-6">
								<label for="gender">Giới tính</label><br>
								<div class="form-check form-check-inline">
									<input name="gender" type="radio" th:value="MALE" class="form-check-input"
										id="radio1" th:field="*{gender}" />
									<label class="form-chek-label" for="radio1">Nam</label>
								</div>
								<div class="form-check form-check-inline">
									<input name="gender" type="radio" th:value="FEMALE" class="form-check-input"
										id="radio2" th:field="*{gender}" /> <label class="form-chek-label"
										for="radio2">Nữ</label>
								</div>
							</div>
						</div>

						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="mobile">Điện thoại</label>
								<input type="text" class="form-control"
									th:classappend="${#fields.hasErrors('mobile') ? 'is-invalid' :''}"
									th:field="*{mobile}">
								<div th:if="${#fields.hasErrors('mobile')}" class="invalid-feedback">
									<p th:errors="*{mobile}"></p>
								</div>
							</div>
							<div class="form-group col-md-6">
								<label for="age">Tuổi</label>
								<input type="number" class="form-control"
									th:classappend="${#fields.hasErrors('age') ? 'is-invalid' :''}" th:field="*{age}">
								<div th:if="${#fields.hasErrors('age')}" class="invalid-feedback">
									<p th:errors="*{age}"></p>
								</div>
							</div>
						</div>

						<th:block th:if="${account_type =='doctors'}">
							<div class="form-row">
								<div class="form-group col-md-6">
									<label for="specialty">Chuyên khoa</label>
									<input type="text" class="form-control" th:field="*{specialty.name}" readonly>
								</div>
								<div class="form-group col-md-6">
									<label for="startPracticeDate">Năm kinh nghiệm</label>
									<input type="number" class="form-control" th:field="*{startPracticeDate}">
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-6">
									<label for="clinic.name">Phòng khám</label>
									<input type="text" class="form-control" th:field="*{clinic.name}" readonly>
								</div>
								<div class="form-group col-md-6">
									<label for="description">Mô tả</label>
									<input type="text" class="form-control" th:field="*{description}">
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-6">
									<label for="certification">Chứng chỉ</label>
									<a th:href="@{'/file/' + ${certification.id}}" target="_blank"
										style="margin: 5px;"><i class="fas fa-solid fa-file-import"></i>
										[[${certification.name}]]
									</a>
									<input class="form-control" id="certification" name="file" type="file"
										accept="application/pdf" />
								</div>
								<div class="form-group col-md-6">
									<label>Gói khám</label><br>
									<ul>
										<li th:each="packages : ${allPackages}">
											<input type="checkbox" th:field="*{packages}" th:value="${packages.id}" />
											<label th:for="${#ids.prev('packages')}"
												th:text="${packages.name}">Name</label>
										</li>
									</ul>
								</div>
							</div>
						</th:block>

						<th:block th:if="${account_type =='patients'}">
							<div class="form-row">
								<!--<div class="form-group col-md-6">
									<label for="mobile">Other</label>
									<input type="text" class="form-control"
										th:classappend="${#fields.hasErrors('mobile') ? 'is-invalid' :''}"
										th:field="*{mobile}">
									<div th:if="${#fields.hasErrors('mobile')}" class="invalid-feedback">
										<p th:errors="*{mobile}"></p>
									</div>
								</div>-->
								<div class="form-group col-md-6">
									<label for="address">Địa chỉ</label>
									<input type="text" class="form-control"
										th:classappend="${#fields.hasErrors('address') ? 'is-invalid' :''}"
										th:field="*{address}">
									<div th:if="${#fields.hasErrors('address')}" class="invalid-feedback">
										<p th:errors="*{address}"></p>
									</div>
								</div>
							</div>
						</th:block>

						<button type="submit" class="btn btn-info">Lưu thay đổi</button>
					</form>
				</div>

				<div class="tab-pane fade pt-3" id="newPassword" role="tabpanel" aria-labelledby="newPassword-tab">
					<form th:object="${passwordChange}">
						<input type="hidden" th:value="${formActionPassword}" id="formPassword">
						<input type="hidden" th:field="*{id}">
						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="currentPassword">Mật khẩu hiện tại</label>
								<input type="password" class="form-control" th:field="*{currentPassword}">
								<span class="errorMsg" id="errorMsgCurrentPassword"></span>
							</div>
						</div>

						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="password">Mật khẩu mới</label>
								<input type="password" class="form-control" th:field="*{password}">
								<span class="errorMsg" id="errorMsgPassword"></span>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="matchingPassword">Nhập lại mật khẩu </label>
								<input type="password" class="form-control" id="matchingPassword">
								<span class="errorMsg" id="errorMsgMatchingPassword"></span>
							</div>
						</div>
					</form>
					<button id="btn-change-password" class="btn btn-info">Thay đổi</button>
				</div>

				<th:block th:if="${account_type == 'patients'}">
					<div class="tab-pane fade pt-3" id="declaration" role="tabpanel" aria-labelledby="declaration-tab">
						<div th:if="${user.declaration == null}">
							<h3>Bạn chưa khai báo. Vui lòng khai báo đặt lịch để cập nhật.</h3>
						</div>
						<ul class="list-group" th:if="${user.declaration != null}">
							<li
								class="list-group-item d-flex justify-content-between align-items-center list-group-item-info">
								<strong><i class="fas fa-solid fa-briefcase-medical"></i> Nhóm máu: </strong>
								<h1 class="badge badge-danger badge-pill">[[${user.declaration.blood}]]</h1>
							</li>
							<li
								class="list-group-item d-flex justify-content-between align-items-center list-group-item-info">
								<strong><i class="fas fa-solid fa-lungs-virus"></i> Bệnh nền:</strong>
								<span class="badge badge-warning badge-pill">[[${user.declaration.background}]]</span>
							</li>
							<li
								class="list-group-item d-flex justify-content-between align-items-center list-group-item-info">
								<strong><i class="fas fa-solid fa-prescription-bottle-medical"></i> Thuốc: </strong>
								<span class="badge badge-success badge-pill">[[${user.declaration.medicine}]]</span>
							</li>
							<li
								class="list-group-item d-flex justify-content-between align-items-center list-group-item-info">
								<strong><i class="fas fa-solid fa-head-side-cough"></i> Triệu chứng: </strong>
								<span class="badge badge-primary badge-pill">[[${user.declaration.symptom}]]</span>
							</li>
							<li
								class="list-group-item d-flex justify-content-between align-items-center list-group-item-info">
								<strong><i class="fas fa-solid fa-truck-medical"></i> Thông tin khác: </strong>
								<span class="badge badge-dark badge-pill">[[${user.declaration.notes}]]</span>
							</li>
						</ul>
					</div>
				</th:block>

				<div class="tab-pane fade pt-3" id="payment" role="tabpanel" aria-labelledby="payment-tab">
					<form method="POST">
						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="currentPassword">Payment banking</label>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="currentPassword">VNPay Online</label>
							</div>
						</div>
						<button type="submit" class="btn btn-primary">Set</button>
					</form>
				</div>

			</div>
		</div>

	</div>
	<script>
		$(document).ready(function () {
			$('#profileImage').change(function () {
				showImageThumbnail(this);
			});
			function showImageThumbnail(fileInput) {
				file = fileInput.files[0];
				var reader = new FileReader();
				reader.onload = function (e) {
					$('#avatar').attr('src', e.target.result);
				};
				reader.readAsDataURL(file);
			}
		});
	</script>
</body>

</html>