<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'','Access denied!')}"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<body>
<div class="row align-items-center justify-content-center" style="margin-top: 50px">
    <div class="p-5 my-2 text-white shadow-lg rounded" style="background-color: rgb(255, 0, 0)">
        <h1 class="mt-5">Quyền truy cập bị từ chối!</h1>
        <p class="lead">Xin lỗi, bạn không được phép xem trang này.</p>
        <button onclick="history.back()" class="btn btn-danger btn-rounded mx-0">Quay lại</button>
    </div>
</div>
</body>

</html>