<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'','404 Error!')}"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<body>
<div class="row align-items-center justify-content-center" style="margin-top: 50px">
    <div class="p-5 my-2 text-white shadow-lg rounded" style="background-color: rgb(255, 0, 0)">
        <h1 class="mt-5">Lỗi 404</h1>
        <p>Có vẻ như trang của bạn mà bạn muốn xem không được tìm thấy!</p>
        <button onclick="history.back()" class="btn btn-danger btn-rounded mx-0">Quay lại</button>
    </div>
</div>
</body>

</html>