<!DOCTYPE html>
<!--<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="fragments/base">-->
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	th:replace="~{fragments/base :: base (~{::body},'Admin Home')}">
<body>
<!--<div th:replace="fragments/base.html"></div>-->
<div>
	<div class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h4 class="m-0">DashBoard hello</h4>
				</div>
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item"><a th:href="@{/admin/home}">Home</a></li>
						<li class="breadcrumb-item active">Dashboard</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 col-sm-6 col-md-3">
				<div class="info-box">
					<span class="info-box-icon bg-info elevation-1"><i class="fa fa-users"></i></span>
					<div class="info-box-content">
						<span class="info-box-text">Number Of User</span> <span
							class="info-box-number" th:text="${totalUniversity}"> 
						</span>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-md-3">
				<div class="info-box mb-3">
					<span class="info-box-icon bg-danger elevation-1"><i class="fa fa-user-md"></i></span>

					<div class="info-box-content">
						<span class="info-box-text">Number Of Doctor</span> <span
							class="info-box-number" th:text="${totalContact}"></span>
					</div>
				</div>
			</div>
			<!-- fix for small devices only -->
			<div class="clearfix hidden-md-up"></div>

			<div class="col-12 col-sm-6 col-md-3">
				<div class="info-box mb-3">
					<span class="info-box-icon bg-success elevation-1"><i class="fa fa-comments"></i></span>

					<div class="info-box-content">
						<span class="info-box-text">Number Of Post</span> <span
							class="info-box-number" th:text="${totalPost}"></span>
					</div>
					<!-- /.info-box-content -->
				</div>
				<!-- /.info-box -->
			</div>
			
			<!-- /.col -->
			<div class="col-12 col-sm-6 col-md-3">
				<div class="info-box mb-3">
					<span class="info-box-icon bg-warning elevation-1"><i class="fa fa-phone-square"></i></span>

					<div class="info-box-content">
						<span class="info-box-text">Number Of Contact</span> <span
							class="info-box-number" th:text="${totalUrl}"></span>
					</div>
					<!-- /.info-box-content -->
				</div>
				<!-- /.info-box -->
			</div>
			<!-- /.col -->
		</div>




		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<h5 class="card-title">Monthly Recap Report</h5>

						<div class="card-tools">
							<button type="button" class="btn btn-tool"
								data-card-widget="collapse">
								<i class="fas fa-minus"></i>
							</button>
							<div class="btn-group">
								<button type="button" class="btn btn-tool dropdown-toggle"
									data-toggle="dropdown">
									<i class="fas fa-wrench"></i>
								</button>
								<div class="dropdown-menu dropdown-menu-right" role="menu">
									<a href="#" class="dropdown-item">Action</a> <a href="#"
										class="dropdown-item">Another action</a> <a href="#"
										class="dropdown-item">Something else here</a> <a
										class="dropdown-divider"></a> <a href="#"
										class="dropdown-item">Separated link</a>
								</div>
							</div>
							<button type="button" class="btn btn-tool"
								data-card-widget="remove">
								<i class="fas fa-times"></i>
							</button>
						</div>
					</div>
					<!-- /.card-header -->
					<div class="card-body">
						<div class="row">
							<div class="col-md-12">
								
							
							
								<div class="chart">
									<!-- Sales Chart Canvas -->
									<canvas id="salesChart" height="180" style="height: 180px;"></canvas>
								</div>
								
								
								
								
								<!-- /.chart-responsive -->
							</div>
						</div>
						<!-- /.row -->
					</div>
					<!-- ./card-body -->
					
					<!-- /.card-footer -->
				</div>
				<!-- /.card -->
			</div>
			<!-- /.col -->
		</div>
	</div>
</div>

<div layout:fragment="script">
	<script type="text/javascript">
		$(document)
				.ready(
						function() {
					 $("#nav-linkDashboard").addClass("active");
						});
		</script>			
</div>

</body>
</html>