<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head></head>

<body>
<p>Xin chào bác sĩ, <span th:text="${appointment.doctor.fullname}"></span></p>
<p>Bệnh nhân đặt lịch khám của bác sĩ nói rằng cuộc hẹn khám đã không diễn ra, vì đã không tới phòng khám đúng hẹn: </p>
<p>Bệnh nhân: <span th:text="${appointment.patient.fullname}"></span></p>
<p>Ngày khám: <span th:text="${#temporals.format(appointment.start, 'dd-MM-yyyy HH:mm')}"></span></p>
<p>Gói khám bệnh: <span th:text="${appointment.packages.name}"></span></p>
<p>Thời lượng khám: <span th:text="${appointment.packages.duration}"></span> phút</p>
<p>Giá: <span th:text="${appointment.packages.price}"></span> VND</p>
<p>Số điện thoại: <span th:text="${appointment.patient.mobile}"></span></p>
<p>Bác sĩ có đồng ý không ? <a th:href="${url}">Click ở đây</a></p>

<p>Cảm ơn bác sĩ.</p>
</body>

</html>