<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head></head>

<body>
<p>Xin chào bệnh nhân, <span th:text="${appointment.patient.fullname}"></span></p>
<p>Bác sĩ <span th:text="${appointment.doctor.fullname}"></span> của bạn đã xác nhận cuộc hẹn khám bệnh đã không diễn ra: </p>
<p>Ngày khám: <span th:text="${#temporals.format(appointment.start, 'dd-MM-yyyy HH:mm')}"></span></p>
<p>Gói khám bệnh: <span th:text="${appointment.packages.name}"></span></p>
<p>Thời lượng khám: <span th:text="${appointment.packages.duration}"></span> phút</p>
<p>Giá: <span th:text="${appointment.packages.price}"></span> VND</p>

<p><strong>Hệ thống sẽ thiết lập trạng thái từ chối cuộc hẹn và hóa đơn sẽ không được gửi tới bạn.</strong></p>

<p>Cảm ơn bạn.</p>

</body>

</html>