<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head></head>

<body>
<p th:if="${canceler =='patient'}">Xin chào bác sĩ, <span th:text="${appointment.doctor.fullname}"></span></p>
<p th:if="${canceler =='doctor'}">Xin chào bệnh nhân, <span th:text="${appointment.patient.fullname}"></span></p>
<p>Lịch khám này đã bị hủy bởi <span th:text="${canceler}"></span></p>
<p>Ngày khám: <span th:text="${#temporals.format(appointment.start, 'dd-MM-yyyy HH:mm')}"></span></p>
<p>Gói khám bệnh: <span th:text="${appointment.packages.name}"></span></p>
<p th:if="${canceler =='patient'}">Bệnh nhân: <span th:text="${appointment.patient.fullname}"></span></p>
<p th:if="${canceler =='doctor'}">Bác sĩ: <span th:text="${appointment.doctor.fullname}"></span></p>
<p>Thời lượng khám: <span th:text="${appointment.packages.duration}"></span> phút</p>
<p>Giá: <span th:text="${appointment.packages.price}"></span> VND</p>
<p>Cảm ơn.</p>

</body>
</html>