<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head></head>

<body>
<p>Xin chào bệnh nhân, <span th:text="${appointment.patient.fullname}"></span></p>
<p>Cuộc hẹn khám bệnh của bạn đã kết thúc:</p>
<p>Ngày khám: <span th:text="${#temporals.format(appointment.start, 'dd-MM-yyyy HH:mm')}"></span></p>
<p>Bác sĩ: <span th:text="${appointment.doctor.fullname}"></span></p>
<p>Gói khám bệnh: <span th:text="${appointment.packages.name}"></span></p>
<p>Thời lượng khám: <span th:text="${appointment.packages.duration}"></span> phút</p>
<p>Giá: <span th:text="${appointment.packages.price}"></span> VND</p>
<p>Nếu bạn có một số lý do và đã không đến cuộc hẹn với bác sĩ như lịch đặt, thì bạn có 24h sau thời gian kết thúc để báo cáo, bằng cách<a th:href="${url}">Click ở đây</a></p>
<p>Cảm ơn bạn.</p>

</body>

</html>