<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head></head>

<body>
<p>Xin chào bạn, <span th:text="${patient.fullname}"></span></p>
<p>Chúc mừng bạn đã có tài khoản trong EasyDoctor:</p>
<p>Bạn vui lòng đăng nhập vào hệ thống với: </p>
<p>UserName: <span th:text="${patient.userName}"></span></p>
<p>Mật khẩu: 123456</p>
<p>Email: <span th:text="${patient.email}"></span></p>

<p>Bây giờ bạn có thể đặt lịch với các bác sĩ một cách dễ dàng</p><br>
<p>Vui lòng đổi lại mật khẩu để bảo mật hơn!</a></p>
<p>Cảm ơn bạn.</p>

</body>

</html>