<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head></head>

<body>
<p>Welcome to <span th:text="${user.userName}"></span></p>

<p>Chào mừng bạn đăng ký thành công trên hệ thống EasyDoctor </p>
<p>Bây giờ bạn có thể đặt lịch với các bác sĩ một cách dễ dàng</p><br>

<strong>Một số điều khoản của hệ thống: </strong>
<p>-Bạn có thể hủy cuộc hẹn trước khi cuộc hẹn diễn ra 24h và gói có thể hủy. 
Nếu bạn không tới thì bạn có quyền nhấn TỪ CHỐI cuộc hẹn sau 24h kể từ khi cuộc hẹn được đặt kết thúc.</p>
<p>-Nếu bạn không thực hiện thì hệ thống sẽ in hóa đơn và bạn phải bắt buộc phải thanh toán.</p>
<p>-Bạn không được dùng ngôn ngữ thô tục khi comment các bài post hoặc khi review bác sĩ.</p>
<p>-Nếu chúng tôi nhận được báo cáo từ bác sĩ thì về các vấn đề đã đề cập thì bạn sẽ bị XÓA TÀI KHOẢN KHỎI HỆ THỐNG.</p>
<p>Cảm ơn bạn.</p>
</body>

</html>