<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body},'appointments','Appointment detail')}"
	xmlns:sec="http://www.w3.org/1999/xhtml">

<body>
	<div class="row mt-5 mb-3">
		<div class="col-md-12 text-center">
			<h2 style="color: #37a7f1;">
				<b>CHI TIẾT CUỘC HẸN</b>
			</h2>
		</div>
	</div>
	<div th:replace="fragments/modalAppointment.html"></div>

	<div class="row">
		<div class="col-md-5">
			<table id="appointments" class="table">
				<input type="hidden" th:value="${appointment.id}" id="appointment_id">
				<tr>
					<td><b>Trạng thái</b></td>
					<td>
						<div th:switch="${#strings.toString(appointment.status)}">
							<span th:case="'SCHEDULED'" class="badge badge-info badge-pill" id="status">ĐÃ LÊN LỊCH</span>
							<span th:case="'FINISHED'" class="badge badge-primary badge-pill" id="status">ĐÃ KẾT THÚC</span>
							<span th:case="'CANCELED'" class="badge badge-danger badge-pill" id="status">ĐÃ HỦY</span>
							<span th:case="'CONFIRMED'" class="badge badge-dark badge-pill" id="status">ĐÃ XÁC NHÂN</span>
							<span th:case="'INVOICED'" class="badge badge-success badge-pill" id="status">IN HÓA ĐƠN</span>
							<span th:case="'REJECTION_REQUESTED'" class="badge badge-warning badge-pill" id="status">YÊU CẦU TỪ CHỐI</span>
							<span th:case="'REJECTED'" class="badge badge-warning badge-pill" id="status">ĐÃ TỪ CHỐI</span>
						</div>
					</td>
				</tr>
				<tr th:if="${history.pulished == false} and ${appointment.status.name()!='CANCELED'}"
					sec:authorize="hasRole('ROLE_DOCTOR')">
					<td><b>Kết quả</b></td>
					<td>
						<button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">Nhận
							xét</button>
					</td>
				</tr>
				<tr th:if="${appointment.status.name()=='CANCELED'}">
					<td><b>Hủy bởi</b></td>
					<td><span th:text="${appointment.canceler.fullname}">cancel</span></td>
				</tr>
				<tr>
					<td><b>Ngày</b></td>
					<td><span th:text="${#temporals.format(appointment.start, 'dd-MM-yyyy')}">10-01-2019</span>
					</td>
				</tr>
				<tr>
					<td><b>Giờ</b></td>
					<td><span
							th:text="${#temporals.format(appointment.start, 'HH:mm')+' - '+ #temporals.format(appointment.end, 'HH:mm')}"
							id="startTime">14:00 - 15:00</span>
					</td>
				</tr>
				<tr>
					<td><b>Bệnh nhân</b></td>
					<td><span th:text="${appointment.patient.fullname}" id="patient">Huyhue</span>
					</td>
				</tr>
				<tr>
					<td><b>Bác sĩ</b></td>
					<td><span th:text="${appointment.doctor.fullname}" id="doctor">Huyhue</span>
					</td>
				</tr>

				<tr>
					<td><b>Gói khám</b></td>
					<td><span th:text="${appointment.packages.name}"> goi1ngay </span></td>
				</tr>
				<tr>
					<td><b>Mô tả</b></td>
					<td><span th:text="${appointment.packages.description}">description</span></td>
				</tr>

				<tr>
					<td><b>Giá</b></td>
					<td><span th:text="${appointment.packages.price}"> 50 </span> VND</td>
				</tr>
				<tr th:if="${appointment.status.name()=='INVOICED'}">
					<td><b>Hóa đơn</b></td>
					<td><a th:href="@{'/invoices/download/'+${appointment.invoice.id}}">Download</a></td>
				</tr>

				<tr>
					<td><b>Hủy cuộc hẹn</b></td>
					<td th:if="${allowedToCancel}">
						<input type="submit" id="cancel" class="btn btn-danger" value="Hủy cuộc hẹn" />
					</td>
					<td th:unless="${allowedToCancel}">
						<p th:text="${cancelNotAllowedReason}">Lý do hủy.</p>
					</td>
				</tr>
				<tr>
					<td>
						<a id="download" download="easyQR-code.png">
							<button class="btn btn-primary" id="button-download-qr-code" type="button"
								style="margin-right: 3px;background: rgb(255, 128, 64);border-style: solid;border-color: rgb(255,73,41);"
								onClick="download()" download=""><i class="fas fa-download"></i> Download
							</button>
						</a>
					</td>
					<td>
						<div id="qrcode">
							<canvas id="qr-code"></canvas>
						</div>
					</td>
				</tr>
			</table>
		</div>
		<div class="col-md-6">

			<div class="chatbody">
				<div class="panel panel-primary">
					<div class="panel-heading top-bar">
						<div class="row">
							<div class="col-md-6 col-xs-6">
							<i class="fas fa-solid fa-comment-medical"></i>
								<span sec:authorize="hasRole('ROLE_DOCTOR')"
									th:text="${appointment.patient.fullname}"></span>
								<span sec:authorize="hasRole('ROLE_PATIENT')"
									th:text="${appointment.doctor.fullname}"></span>
								<strong id="online"></strong>
							</div>
							<a th:href="@{'/recordMedical/'+${appointment.patient.id}}" target="_blank">Hồ sơ bệnh
								án</a>
						</div>
					</div>

					<div class="panel-body msg_container_base">
						<div class="connecting">
							Đang kết nối...
						</div>
					</div>

					<form id="messageForm" name="messageForm" nameForm="messageForm">
						<div class="input-group mb-3">
							<input type="hidden" name="appointmentId" th:value="${appointment.id}">
							<input type="text" class="form-control" id="message" placeholder="Nhắn tại đây..."
								autocomplete="off" aria-describedby="basic-addon2">
							<div class="input-group-append">
								<button class="btn btn-outline-secondary" type="submit">Gửi</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>


	<script src="https://cdnjs.cloudflare.com/ajax/libs/qrious/4.0.2/qrious.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.3.0/sockjs.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
	<script th:src="@{/js/chat.js}"></script>
	<script th:inline="javascript">
		/*<![CDATA[*/

		$(document).ready(function () {
			var review = /*[[${allowedToReview}]]*/ "values";
			var requestRejection = /*[[${allowedToRequestRejection}]]*/ "values";
			var acceptRejection = /*[[${allowedToAcceptRejection}]]*/ "values";
			if (review) {
				$('#reviewModal').modal('show');
			}
			if (requestRejection) {
				$('#requestRejectionModal').modal('show');
			}
			if (acceptRejection) {
				$('#acceptRejectionModal').modal('show');
			}
		});
		/*]]>*/
	</script>
	<!-- QR Code -->
	<script>
		var qr;

		(function () {
			qr = new QRious({
				element: document.getElementById('qr-code'),
				size: 200,
				value: 'huyhue'
			});
		})();

		window.onload = function () {
			qrType = "appointment";
			var doctor = document.getElementById('doctor').innerText;
			var patient = document.getElementById('patient').innerText;
			var status = document.getElementById('status').innerText;
			var startTime = document.getElementById('startTime').innerText;

			qrContent = "Easydoctor appointment: " + doctor + " " + patient + " ,status " + status + " ,startTime " + startTime;
			qr.set({
				foreground: 'black',
				size: 200,
				value: qrContent
			});
		};

		function download() {
			var download = document.getElementById("download");
			qrImage = document.getElementById("qr-code").toDataURL("image/png")
				.replace("image/png", "image/octet-stream");
			download.setAttribute("href", qrImage);
		}

		$("#cancel").click(function () {
			var appointmentId = $('#appointment_id').val();
			$.confirm({
				type: 'red',
				title: '<i class="fa fa-exclamation-triangle" aria-hidden="true" style="color:red;"></i> ' + 'Xác nhận!!',
				content: 'Bạn có chắc chắn muốn xóa cuộc hẹn không?',
				autoClose: 'No|8000',
				buttons: {
					Yes: function () {
						console.log("OK" + appointmentId);
						$.ajax({
							url: "/appointments/cancel?appointmentId=" + appointmentId,
							type: 'GET',
							dataType: 'json',
							success: function (data) {
								location.reload();
							},
							error: function (xhr, status, error) {
								console.log("Lỗi đã xảy ra!");
								location.reload();
							}
						});
					},
					No: function () {
					}
				}
			});
		});
	</script>
</body>

</html>