<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
	th:replace="~{fragments/layout :: layout (~{::body},'appointments','List appointments')}">

<body>
	<style>
		/* Tab Links */
		.tabs {
			display: flex;
		}

		.tablinks {
			border: none;
			outline: none;
			cursor: pointer;
			width: 100%;
			padding: 1rem;
			font-size: 13px;
			text-transform: uppercase;
			font-weight: 600;
			transition: 0.2s ease;
		}

		.tablinks:hover {
			background: #3485d9;
			color: #fff;
		}

		/* Tab active */
		.tablinks.active {
			background: #3485d9;
			color: #fff;
		}

		/* tab content */
		.tabcontent {
			display: none;
		}

		/* Text*/
		.tabcontent p {
			color: #333;
			font-size: 16px;
		}

		/* tab content active */
		.tabcontent.active {
			display: block;
		}
	</style>
	<div class="row mt-5 mb-3">
		<div class="col-md-12 text-center">
			<h2 style="color: #37a7f1;">
				<b>Danh sách cuộc hẹn khám bệnh</b>
			</h2>
		</div>
	</div>
	<!-- Tab links -->
	<div class="tabs">
		<button class="tablinks active" value="ALL" data-electronic="allAppointment">Tất Cả (<span th:text="${appointments.size()}"> 60 </span>)</button>
		<button class="tablinks" value="SCHEDULED" data-electronic="scheduled">Đã Lên Lịch ()</button>
		<button class="tablinks" value="FINISHED" data-electronic="finished">Đã Kết Thúc ()</button>
		<button class="tablinks" value="CONFIRMED" data-electronic="confirmed">Đã Xác Nhận ()</button>
		<button class="tablinks" value="CANCELED" data-electronic="canceled">Đã Hủy ()</button>
		<button class="tablinks" value="INVOICED" data-electronic="invoiced">In Hóa Đơn ()</button>
		<button class="tablinks" value="REJECTION_REQUESTED" data-electronic="rejection_requested">Yêu cầu từ chối
			()</button>
		<button class="tablinks" value="REJECTED" data-electronic="rejected">Đã từ chối ()</button>
	</div>

	<!-- Tab content -->
	<div class="wrapper_tabcontent">
		<div id="allAppointment" class="tabcontent active">

			<h3>Combo Trạm Hàn Hakko 936 + Sensor Hàn A1321</h3>
		</div>

		<div id="scheduled" class="tabcontent">
			<h3>Raspberry Pi 4 Model B 2019</h3>
		</div>

		<div id="finished" class="tabcontent">
			<h3>Module Khuếch Đại Âm Thanh Bluetooth Stereo 30W/40W Công Suất Cao XY-P40W</h3>
		</div>
		<div id="confirmed" class="tabcontent">
			<h3>Raspberry Pi 4 Model B 2019</h3>
		</div>

		<div id="canceled" class="tabcontent">
			<h3>Module Khuếch Đại Âm Thanh Bluetooth Stereo 30W/40W Công Suất Cao XY-P40W</h3>
		</div>
		<div id="invoiced" class="tabcontent">
			<h3>Raspberry Pi 4 Model B invoiced</h3>
		</div>

		<div id="rejection_requested" class="tabcontent">
			<h3>Module Khuếch Đại Âm Thanh Bluetooth rejection_requested 30W/40W Công Suất Cao XY-P40W</h3>
		</div>
		<div id="rejected" class="tabcontent">
			<h3>Raspberry Pi 4 Model B rejected</h3>
		</div>
	</div>

	<!-- Page Content -->
	<div class="row align-items-center justify-content-center" style="margin-top: 50px">
		<div th:fragment="patientAppointments">

			<table id="appointments" class="table text-center">
				<thead class="thead-dark">
					<tr>
						<th> Packages</th>
						<th> Status</th>
						<th> Start</th>
						<th sec:authorize="!hasRole('ROLE_DOCTOR')"> Doctor</th>
						<th sec:authorize="!hasRole('ROLE_PATIENT')"> Patient</th>
						<th> Duration</th>
						<th> Action</th>
					</tr>
				</thead>
				<tbody>
					<tr th:if="${appointments == null}">
						<td colspan="2"> No Appointments Available</td>
					</tr>
					<tr th:each="appointment : ${appointments}"
						th:classappend="${appointment.status.name() == 'CANCELED' || appointment.status.name()  == 'FINISHED' || appointment.status.name()  == 'INVOICED' || appointment.status.name()  == 'REJECTION_REQUESTED' || appointment.status.name()  == 'REJECTED'} ? table-secondary : table-success">
						<td><span th:text="${appointment.packages.name}"> Packages </span></td>
						<td><span th:text="${appointment.status}"> Scheduled </span></td>
						<td><span th:text="${#temporals.format(appointment.start, 'yyyy-MM-dd HH:mm')}"> 21-01-2019
								15:00</span>
						</td>
						<td sec:authorize="!hasRole('ROLE_DOCTOR')"><span th:text="${appointment.doctor.fullname}">
								Doctor </span>
						</td>
						<td sec:authorize="!hasRole('ROLE_PATIENT')"><span th:text="${appointment.patient.fullname}">
								Patient </span>
						</td>
						<td><span th:text="${appointment.packages.duration + ' min'}"> 60 min </span></td>
						<td><a class="btn btn-secondary" th:href="@{'/appointments/' + ${appointment.id}}"
								role="button">Details</a></td>
					</tr>
				</tbody>
			</table>
		</div>

		<script>

			var statuses = [
				'FINISHED',
				'CONFIRMED',
				'INVOICED',
				'CANCELED',
				'DENIED',
				'REJECTION_REQUESTED',
				'REJECTED',
				'EXCHANGE_REQUESTED'];


			var tabLinks = document.querySelectorAll(".tablinks");
			var tabContent = document.querySelectorAll(".tabcontent");

			tabLinks.forEach(function (el) {
				el.addEventListener("click", openTabs);
			});


			function openTabs(el) {
				var btn = el.currentTarget; // lắng nghe sự kiện và hiển thị các element
				var electronic = btn.dataset.electronic; // lấy giá trị trong data-electronic
				console.log(btn.value);
				tabContent.forEach(function (el) {
					el.classList.remove("active");
				});
				tabLinks.forEach(function (el) {
					el.classList.remove("active");
				});
				document.querySelector("#" + electronic).classList.add("active");
				btn.classList.add("active");

				$('#appointments').DataTable({
					"bFilter": true,
					"bLengthChange": false,
					"order": [
						[2, "asc"]
					],
					"initComplete": function () {
						this.api().columns([1]).every(function () {
							var column = this;
							var searchString = btn.value;
							console.log( "test: "+searchString);
							var val = $.fn.dataTable.util.escapeRegex(searchString);
							column.search(val ? '^' + val + '$' : '', true, false).draw();
						});
					}
				});

			}
		</script>
	</div>

</body>

</html>