<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body},'appointments','New appointment confirmation')}"
	xmlns:sec="http://www.w3.org/1999/xhtml">

<body>
	<div class="row justify-content-center">
		<div class="col-md-6 mt-3">

			<table class="table">
				<thead>
					<tr class="text-center">
						<td colspan="2">
							<h3>Tóm tắt đặt lịch khám</h3>
						</td>
					</tr>
				</thead>

				<tr>
					<td><b>Date</b></td>
					<td><span th:text="${#temporals.format(start, 'dd-MM-yyyy')}">10-01-2022</span></td>
				</tr>
				<tr>
					<td><b>Time</b></td>
					<td><span
							th:text="${#temporals.format(start, 'HH:mm')+' - '+ #temporals.format(end, 'HH:mm')}">14:00
							- 15:00</span>
					</td>
				</tr>
				<tr>
					<td><b>Doctor</b></td>
					<td><span th:text="${doctor}">Huyhue</span></td>
				</tr>

				<tr>
					<td><b>Packages</b></td>
					<td><span th:text="${packages.name}"> english </span></td>
				</tr>
				<tr>
					<td><b>Description</b></td>
					<td><span th:text="${packages.description}">description</span></td>
				</tr>

				<tr>
					<td><b>Price</b></td>
					<td><span th:text="${packages.price}"> 50 </span> VND</td>
				</tr>

				<tr>
					<td><b>Cancellable by patient?</b></td>
					<td>
						<p th:text="${packages.editable ? 'Yes':'No, only by doctor'}">Yes</p>
					</td>
				</tr>
				<tr class="text-center">
					<p>Gmail lỗi nên tạm thời: <span th:text="${OTPSEND}"></span></p>
					<td colspan="2">
						<h5>Kiểm tra mail để nhập OTP xác nhận:</h5>
						<form id="validateOtp" name="validateOtp" method="post">
							<input type="hidden" name="packagesId" id="packagesId" th:value="${packages.id}">
							<input type="hidden" name="doctorId" id="doctorId" th:value="${doctorId}">
							<input type="hidden" name="start" id="start" th:value="${start}">
							<input type="text" name="OTPSEND" id="OTPSEND" class=" input-lg" required="true"
								autofocus="true" />
							<button type="submit" class="btn btn-primary">Xác nhận đặt</button>
						</form>
					</td>

					
				</tr>
			</table>
			<div id="count" class="text-center text-danger"></div>
		</div>
	</div>
	<script type="text/javascript">
		var timeLeft = 60;
		var elem = document.getElementById('count');
		var timerId = setInterval(countdown, 1000);

		function countdown() {
			if (timeLeft == -1) {
				clearTimeout(timerId);
				window.location.href = "/";
			alert("Hết giờ. Vui lòng đặt lịch khám lại!");
			} else {
				elem.innerHTML = timeLeft + ' seconds remaining';
				timeLeft--;
			}
		}
		
		$(document).ready(function () {
			$("#validateOtp").submit(function (event) {
				//stop submit the form, we will post it manually.
				event.preventDefault();
				var data = 'OTPSEND=' + $("#OTPSEND").val() + '&packagesId=' + $("#packagesId").val()
					+ '&doctorId=' + $("#doctorId").val() + '&start=' + $("#start").val();
				$.ajax({
					type: "GET",
					url: "/appointments/new",
					data: data,
					dataType: 'text',
					cache: false,
					timeout: 600000,
					success: function (response) {
						if(response=="SUCCESS"){
							window.location.href = "/appointments/all";
							alert("Chúc mừng bạn đặt lịch thành công");
						}else {
							alert("OTP không phù hợp. Vui lòng nhập lại!");
						}
					},
					error: function (xhr, status, error) {
						alert(xhr.responseText);
					}
				});
			});
		});
	</script>
</body>

</html>