<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body},'appointments','Từ chối cuộc hẹn')}"
	xmlns:sec="http://www.w3.org/1999/xhtml">

<body>
	<!-- Page Content -->
	<div class="row align-items-center justify-content-center" style="margin-top: 50px">
		<div th:if="${type eq 'request'}">
			<div th:if="${result}" class="p-5 my-5 text-white shadow-lg rounded"
				style="background-color: rgb(0, 128, 255)">
				<h5>Bạn đã yêu cầu từ chối thành công cuộc hẹn này. </h5>
				<p>Nếu bác sĩ sẽ xác nhận rằng nó sẽ không được lập hóa đơn.</p>
			</div>

			<div th:if="${result==false}" class="p-5 my-2 text-white shadow-lg rounded"
				style="background-color: rgb(255, 0, 0)">
				<h5>Đã xảy ra lỗi!</h5>
				<p>Đảm bảo rằng cuộc hẹn này chưa bị từ chối.</p>
			</div>
		</div>

		<div th:if="${type eq 'accept'}">
			<div th:if="${result}" class="p-5 my-5 text-white shadow-lg rounded"
			style="background-color: rgb(0, 128, 255)">
				<h5>Trạng thái cuộc hẹn đã được đặt thành công thành bị từ chối.</h5>
				<p>Nó sẽ không được lập hóa đơn.</p>
			</div>
			<div th:if="${result==false}" class="p-5 my-2 text-white shadow-lg rounded"
				style="background-color: rgb(255, 0, 0)">
				<h5>Đã xảy ra lỗi!</h5>
				<p>Đảm bảo rằng cuộc hẹn này chưa bị từ chối.</p>
			</div>
		</div>

		<div sec:authorize="!isAuthenticated()" class="p-5 my-2 text-white shadow-lg rounded"
			style="background-color: rgb(0, 128, 255)">
			<h5>Bạn có thể đăng nhập <a th:href="@{/login}">tại đây</a></h5>
		</div>
	</div>
	<div class="row mt-1 align-items-center justify-content-center">
		<button onclick="history.back()" class="btn btn-danger btn-rounded mx-0">Quay lại</button>
	</div>
</body>

</html>